@using Esfa.Recruit.Provider.Web.ViewModels
@model Esfa.Recruit.Provider.Web.ViewModels.DashboardViewModel

<h1 class="govuk-heading-l">This is the Provider Dashboard page! @User.GetDisplayName()</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body">
            You can clone vacancies once they've been submitted.
            Vacancies will be approved or rejected within 24 hours.
        </p>
        <a asp-route="@RouteNames.CreateVacancyOptions_Get" class="govuk-button">Create vacancy</a>
    </div>
</div>



