@using Esfa.Recruit.Provider.Web.ViewModels
@model Esfa.Recruit.Provider.Web.ViewModels.DashboardViewModel

<h1>This is the Provider Dashboard page!</h1>

<div class="grid-row">
    <div class="column-full">
        <p>
            You can clone vacancies once they've been submitted.
            Vacancies will be approved or rejected within 24 hours.
        </p>
        <a asp-route="@RouteNames.CreateVacancyOptions_Get" class="button small-bottom-margin">Create vacancy</a>
    </div>
    <br>
</div>



