@model Esfa.Recruit.Employer.Web.ViewModels.EmployerDetails.IndexViewModel

<h1>Employer details</h1>
<h2>@Model.Title</h2>

<form asp-route="@RouteNames.EmployerDetails_Index_Post">
    <div class="form-group">
        <a asp-route="@RouteNames.Sections_Index_Get">Return to vacancy</a>
        <input type="submit" value="Continue" class="btn btn-primary" />
    </div>
</form>
