@model Esfa.Recruit.Employer.Web.ViewModels.Part1.ShortDescription.ShortDescriptionViewModel

<div class="grid-row">
    <div class="column-full">
        
        @Html.Partial("_Part1Header")

        <!-- Validation summary-->
        <div asp-validation-summary="All" class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                Please fix these errors
            </h2>
        </div>
        
        <form asp-route="@RouteNames.ShortDescription_Post">

            <div class="form-group">
                <label asp-for="NumberOfPositions" class="form-label-bold">Number of positions for this apprenticeship</label>
                <span asp-validation-for="NumberOfPositions" class="error-message"></span>
                <input asp-for="NumberOfPositions" class="form-control form-control-1-8" type="number" />
            </div>

            <div class="form-group">
                <label asp-for="ShortDescription" class="form-label-bold">
                    Write a few sentences to describe your vacancy
                </label>
                <span asp-validation-for="ShortDescription" class="error-message"></span>
                <textarea asp-for="ShortDescription" class="form-control form-control-3-4" cols="20" rows="5" maxlength="350"></textarea>
            </div>

            <button type="submit" class="button">Save and continue</button>
            <a asp-route="@RouteNames.Dashboard_Index_Get" class="button-link">Cancel</a>
        </form>
        
        <hr>

</div>
</div>