@model ClosedVacancyViewModel

<partial name="@PartialNames.VacancySummaryDisplay" model="Model" />

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Applications</h2>
        <partial name="@PartialNames.VacancyApplicationsTable" for="Applications" />
    </div>
</div>
<div class="form-group inline">
    <div class="form-group small-top-margin">
        <a asp-route="@RouteNames.Dashboard_Index_Get" class="button">Return to dashboard</a>
    </div>
</div>