@model DisplayVacancyViewModel
@{
    Layout = LayoutNames.LayoutWithoutNavigation;
    ViewBag.Vpv = "/page-full-vacancy-view";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" id="vacancy-header">
            @Model.Title
            <span class="govuk-caption-xl">@Model.EmployerName</span>
        </h1>
    </div>
</div>

<partial name="@PartialNames.NonEditableVacancyDisplay" model="Model" />