@model LiveVacancyViewModel
<div class="column-full">
    <main id="content" role="main">
        <partial name=@PartialNames.VacancySummaryDisplay model="Model" />

        <partial name=@PartialNames.VacancyApplicationsTable for="Applications" />

        <div class="form-group inline">
            <div class="form-group small-top-margin">
                <a asp-route="@RouteNames.Dashboard_Index_Get" class="button">Return to dashboard</a>
            </div>
        </div>
    </main>
</div>