@model SubmittedVacancyViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge" id="vacancy-header">
            @Model.Title
            <span class="heading-secondary">@Model.EmployerName</span>
        </h1>
    </div>
    <div class="column-one-third">
        <div class="small-top-margin">Submitted for review on @Model.SubmittedDate</div>
    </div>
</div>

<partial name=@PartialNames.NonEditableVacancyDisplay model="Model" />

<div class="form-group inline">
    <div class="form-group small-top-margin">
        <a asp-route="@RouteNames.Dashboard_Index_Get" class="button">Return to dashboard</a>
    </div>
</div>