@model Esfa.Recruit.Employer.Web.ViewModels.ApplicationProcessViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Model.Title</h1>
        <h1 class="heading-large">Application process</h1>
        @Html.Partial("_ValidationSummary", new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames })
        <form asp-route="@RouteNames.ApplicationProcess_Post">
            <div class="form-group">
                <label asp-for="ApplicationUrl" class="form-label-bold">Enter the web address candidates should use to apply for this vacancy</label>
                <input asp-for="ApplicationUrl" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationInstructions" class="form-label-bold">Explain the application process (optional)</label>
                <textarea asp-for="ApplicationInstructions" class="form-control form-control-3-4 textarea-expandable" cols="20" rows="1"></textarea>
            </div>
            <div class="form-group">
                <p>
                    <span class="form-label-bold">Contact details (optional)</span>
                    <span class="form-hint">Fill in this section if you would like candidates to be able to contact you about this vacancy</span>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="EmployerContactName" class="form-label-bold">Contact name</label>
                <input asp-for="EmployerContactName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EmployerContactEmail" class="form-label-bold">Email</label>
                <input asp-for="EmployerContactEmail" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EmployerContactPhone" class="form-label-bold">Contact number</label>
                <input asp-for="EmployerContactPhone" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save and continue" class="button" />
                <a asp-route="@RouteNames.Preview_Index_Get" class="button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>