<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Reports</h1>
        <p class="govuk-body">You can create and download a report that gives you information on all the applications you got. You can decide what time period you would like for the report. </p>
        <a asp-route="@RouteNames.ProviderApplicationsReportCreate_Get" class="govuk-button">Create new report</a>
    </div>
</div>
