@{
    ViewBag.Title = "Reports data change (data specification document)";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner"
             role="region"
             aria-labelledby=""
             data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Share report updates.
                </h3>
                <p class="govuk-body">
                    To let others know about your software update, <span class="govuk-!-font-weight-bold">print this page and save it as a document</span> to share.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-thirds">
        <div>
            <h1 class="govuk-heading-xl">Application report data for Recruit an apprentice</h1>
            <p class="govuk-body">
                The data fields in your application report downloads will change on 1 April 2026.
            </p>
            <p class="govuk-body">
                The data in these reports is for vacancies that the training provider manages on behalf of employers in the Recruit an Apprentice service. This page explains the changes introduced in version 2 of the data specification.
            </p>
            <ul class="govuk-list--bullet">
                <li>
                    <span class="govuk-!-font-weight-bold">Version:</span> 2
                </li>
                <li>
                    <span class="govuk-!-font-weight-bold">Implemented:</span> 1 April 2026
                </li>
                <li>
                    <span class="govuk-!-font-weight-bold">Owner:</span> DfE Apprenticeship Digital Team
                </li>
            </ul>
            <a href="#print" class="govuk-link govuk-link--no-visited-state faa-vacancy-actions__link faa-vacancy-actions__link--print">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="faa-vacancy-actions__icon">
                    <path fill="currentColor"
                          d="M128 0C92.7 0 64 28.7 64 64v96h64V64H354.7L384 93.3V160h64V93.3c0-17-6.7-33.3-18.7-45.3L400 18.7C388 6.7 371.7 0 354.7 0H128zM384 352v32 64H128V384 368 352H384zm64 32h32c17.7 0 32-14.3 32-32V256c0-35.3-28.7-64-64-64H64c-35.3 0-64 28.7-64 64v96c0 17.7 14.3 32 32 32H64v64c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V384zM432 248a24 24 0 1 1 0 48 24 24 0 1 1 0-48z">
                    </path>
                </svg>Print
            </a>
        </div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <h3 class="govuk-heading-m">Data fields</h3>
        <p class="govuk-body">
            The file will be labelled "Official", with the date and time, and the count of the number of applications returned in the download.
        </p>
        <div>
            <table class="govuk-table das-table--condensed das-table--responsive das-table--bordered-header">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Field name</th>
                        <th class="govuk-table__header" scope="col">Data type</th>
                        <th class="govuk-table__header" scope="col">Description</th>
                        <th class="govuk-table__header" scope="col">Note</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Candidate_Name
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            First and last name of the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Applicant_ID
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Applicant identifier
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Address_Line1
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address of the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Address_Line2
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address of the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Address_Line3
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address of the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Postcode
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address of the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Telephone
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            integer
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Telephone number of applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Email
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Email of applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Date_of_Birth
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            date
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Applicant date of birth
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Vacancy_Reference_Number
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Vacancy Reference Number of applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Vacancy_Title
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Vacancy name
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Course_Name
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Course name and funding ID
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field name
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Course_Status
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Funding status of course
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field name
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Apprenticeship_Level
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            integer
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Level of apprenticeship course
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Apprenticeship_Type
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Name of apprenticeship type
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Employer
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Employer name
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Application_date
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            date
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Date application submitted
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Vacancy_Closing_date
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            date
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Vacancy closing date
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Application_Status
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Status of application in the service
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Number_Of_Days_App_At_This_Status
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            integer
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Count of days application has been with Application_Status
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Interview_Assistance
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Assistance the applicant has requested at interview
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            No change
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Recruit_Nationally
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            boolean
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Yes or No (There is no workplace location for vacancies recruiting nationally)
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Workplace_1
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address and postcode of the workplace applied for by the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Workplace_2
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address and postcode of the workplace applied for by the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Workplace_3
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address and postcode of the workplace applied for by the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Workplace_4
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address and postcode of the workplace applied for by the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Workplace_5
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address and postcode of the workplace applied for by the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Workplace_6
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address and postcode of the workplace applied for by the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Workplace_7
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address and postcode of the workplace applied for by the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Workplace_8
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address and postcode of the workplace applied for by the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Workplace_9
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address and postcode of the workplace applied for by the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Workplace_10
                        </td>
                        <td class="govuk-table__cell" data-label="Data type">
                            string
                        </td>
                        <td class="govuk-table__cell" data-label="Description">
                            Address and postcode of the workplace applied for by the applicant
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            New field
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 class="govuk-heading-m">Data relationships</h3>
        <div>
            <ul class="govuk-list--bullet">
                <li>
                    Where present the fields will display data from the application form fields.
                </li>
                <li>
                    A blank field will occur where candidates have not requested interview assistance.
                </li>
                <li>
                    Applications for vacancies "Recruiting nationally" will not carry data about workplace locations.
                </li>
                <li>
                    Workplace location fields will carry up to a maximum of 10 locations if the applicant has selected their interest in the maximum of 10 locations available in a vacancy.
                </li>
            </ul>
        </div>
        <h3 class="govuk-heading-m govuk-!-padding-top-5">Data privacy and compliance</h3>
        <div>
            <ul class="govuk-list--bullet">
                <li>
                    Downloaded data is owned by the training provider and is covered by the provider's own GDPR and compliance requirements.
                </li>
                <li>
                    Once downloaded the data is covered by the training provider's own retention requirements.
                </li>
            </ul>
        </div>
        <div class="govuk-section-break govuk-section-break--xl"></div>
        <h3 class="govuk-heading-m">Data format</h3>
        <div>
            <ul class="govuk-list--bullet">
                <li>
                    File format: .CSV
                </li>
            </ul>
        </div>
        <div class="govuk-section-break govuk-section-break--xl"></div>
        <h3 class="govuk-heading-m">Change log</h3>
        <div>
            <ul class="govuk-list--bullet">
                <li>
                    Changed and removed fields from version 1.
                </li>
            </ul>
        </div>
        <div>
            <table class="govuk-table das-table--condensed das-table--responsive das-table--bordered-header">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Field name</th>
                        <th class="govuk-table__header" scope="col">Note</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Standard_Name
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            Renamed Course_Name
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Standard_Status
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            Renamed Course_Status
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Address_Line4
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            Removed
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            School
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            Removed
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Framework
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            Removed
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Framework_Status
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            Removed
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Route_ID
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            Removed
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Vacancy_postcode
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            Removed Superseded by Workplace_1
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Field name">
                            Learning_Provider
                        </td>
                        <td class="govuk-table__cell" data-label="Note">
                            Removed
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>