@model Esfa.Recruit.Employer.Web.ViewModels.NewVacancy.IndexViewModel

<h1>Create new vacancy</h1>

<form asp-action="Index">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Vacancy title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <a href="#" onclick="alert('todo')" class="button-link">Return to dashboard</a>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
    