@model Esfa.Recruit.Employer.Web.ViewModels.NewVacancy.IndexViewModel

<div class="grid-row">
    <div class="column-two-thirds">

        <div asp-validation-summary="All" class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                Please fix these errors
            </h2>
        </div>

        <h1 class="heading-large">
            Create new vacancy
        </h1>

        <form asp-route="@RouteNames.NewVacancy_Index_Post">

            <div class="form-group">
                <label asp-for="Title" class="control-label form-label-bold">Vacancy title</label>
                <span asp-validation-for="Title" class="error-message"></span>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <a href="#" onclick="alert('todo')" class="button-link">Return to dashboard</a>
                <input type="submit" value="Create" class="button" />
            </div>
        </form>
    </div>
</div>