<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            Recruitment
        </h1>
        <a asp-route="@RouteNames.ReportDashboard_Get" class="govuk-link govuk-body float-right clear">Create a report</a>
    </div>
</div>
