@model Esfa.Recruit.Provider.Web.ViewModels.LegalEntityAgreement.LegalEntityAgreementHardStopViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a asp-route="@RouteNames.Vacancy_Preview_Get" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Agreement not signed</h1>
        
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                @Model.LegalEntityName must have a signed Education and Skills Funding Agency apprenticeship agreement before you can post vacancies on their behalf.
            </strong>
        </div>

        <p class="govuk-body">
            The vacancy has been saved as a draft, once the employer has signed the agreement, you can submit it from the vacancies dashboard.
        </p>
        <p class="govuk-body">
            <a asp-route="@RouteNames.Vacancies_Get" class="govuk-button">Return to dashboard</a>
        </p>
    </div>
</div>