@model Esfa.Recruit.Employer.Web.ViewModels.LegalEntityAgreement.LegalEntityAgreementHardStopViewModel
@{
    ViewBag.Vpv = "/recruitment/employer/page-legal-entity-agreement-hard-stop";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="info-summary">
            <h1 class="govuk-heading-m govuk-!-margin-top-0">You cannot submit this advert yet</h1>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    You can submit this advert once your organisation has accepted an
                    <a asp-route="@RouteNames.Dashboard_AccountsAgreements">employer agreement</a> 
                    with the Education and Skills Funding Agency.
                </li>
            </ul>
            <p class="govuk-body">
                Your advert has been saved as a draft. Once the agreement is accepted, you’ll be able to submit your advert for review.
            </p>
        </div>

        <a asp-route="@RouteNames.Dashboard_Get" class="govuk-button">Return to dashboard</a>
    </div>

</div>