@model Esfa.Recruit.Employer.Web.ViewModels.VacancyDescriptionViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Model.Title</h1>
        <h1 class="heading-large">Add training provider</h1>
        @Html.Partial("_ValidationSummary", ViewData.ModelState)
        <form asp-route="@RouteNames.VacancyDescription_Index_Post">
            <div class="form-group">
                <label asp-for="VacancyDescription" class="form-label-bold">What does the apprenticeship involve?</label>
                <span class="form-hint">Describe a typical working day and duties</span>
                <textarea asp-for="VacancyDescription" class="form-control form-control-3-4 textarea-expandable" cols="20" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="TrainingDescription" class="form-label-bold">What training will your apprentice get?</label>
                <span class="form-hint">This should include training at work and offsite</span>
                <textarea asp-for="TrainingDescription" class="form-control form-control-3-4 textarea-expandable" cols="20" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="OutcomeDescription" class="form-label-bold">What can the apprentice expect at the end of the apprenticeship?</label>
                <span class="form-hint">You may want to mention specific routes they could take once qualified</span>
                <textarea asp-for="OutcomeDescription" class="form-control form-control-3-4 textarea-expandable" cols="20" rows="1"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save and continue" class="button" />
                <a asp-route="@RouteNames.Preview_Index_Get" class="button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>