@model Esfa.Recruit.Employer.Web.ViewModels.VacancyDescriptionViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge small-bottom-margin">@Model.Title</h1>
        <hr>
        @Html.Partial("_ValidationSummary", new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames })
        <form asp-route="@RouteNames.VacancyDescription_Index_Post">
            <div esfa-validation-marker-for="VacancyDescription" class="form-group">
                <label asp-for="VacancyDescription" class="form-label-bold">What does the apprenticeship involve?</label>
                <span class="form-hint">Describe a typical working day and duties</span>
                <span esfa-validation-message-for="VacancyDescription" class="error-message"></span>
                <textarea asp-for="VacancyDescription" class="form-control form-control-3-4 textarea-expandable" rows="1" cols="20"></textarea>
            </div>
            <div esfa-validation-marker-for="TrainingDescription" class="form-group">
                <label asp-for="TrainingDescription" class="form-label-bold">What training will your apprentice get?</label>
                <span class="form-hint">This should include training at work and offsite</span>
                <span esfa-validation-message-for="TrainingDescription" class="error-message"></span>
                <textarea asp-for="TrainingDescription" class="form-control form-control-3-4 textarea-expandable" rows="1" cols="20"></textarea>
            </div>
            <div esfa-validation-marker-for="OutcomeDescription" class="form-group">
                <label asp-for="OutcomeDescription" class="form-label-bold">What can the apprentice expect at the end of the apprenticeship?</label>
                <span class="form-hint">You may want to mention specific routes they could take once qualified</span>
                <span esfa-validation-message-for="OutcomeDescription" class="error-message"></span>
                <textarea asp-for="OutcomeDescription" class="form-control form-control-3-4 textarea-expandable" rows="1" cols="20"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="button" />
                <a asp-route="@RouteNames.Vacancy_Preview_Get" esfa-automation="link-cancel" class="button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>