/*** Utility classes ***/
.button-link {
    display:inline-block;
    padding:10px 15px 5px 10px;
}

.no-bottom-margin {
  margin-bottom:0px;
}

.no-top-margin {
  margin-top:0px;
}

.small-bottom-margin {
  margin-bottom:30px;
}

.small-top-margin {
  margin-top:30px;
}

/*** Info / Warning summary styles ***/

.info-summary, .warning-summary{
    
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 10px;
  }

  .info-summary {
    border: 4px solid #2e358b;
  }

  .warning-summary {
    border: 4px solid #f47738;
  }

  @media (min-width: 641px) {
    .info-summary , .warning-summary {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 20px 15px 15px;
    }

    .info-summary {
        border: 5px solid #2e358b;
    }

    .warning-summary {
        border: 5px solid #f47738;
    }

  }
  
  .info-summaryfocus {
    outline: 3px solid #2e358b;
  }

  .warning-summaryfocus {
    outline: 3px solid #f47738;
  }

  .info-summary .info-summary-heading, .warning-summary .warning-summary-heading {
    margin-top: 0;
  }
  
  .info-summary p, .warning-summary p {
    margin-bottom: 10px;
  }
  
  .info-summary .info-summary-list, .warning-summary .warning-summary-list {
    padding-left: 0;
  }
  
  @media (min-width: 641px) {
    .info-summary .info-summary-list li, .warning-summary .warning-summary-list li {
      margin-bottom: 5px;
    }
  }
  
  .info-summary .info-summary-list a, .warning-summary .warning-summary-list a {
    
    font-weight: bold;
    text-decoration: underline;
  }

  .info-summary .info-summary-list a{
    color: #2e358b;
  }

  .warning-summary .warning-summary-list a{
    color: #f47738;
  }

  .info-summary-heading, .warning-summary-heading {
    margin-top: 0;
  }