/*** Utility classes ***/
.button-link {
    display:inline-block;
    padding:10px 15px 5px 10px;
}

.no-bottom-margin {
  margin-bottom:0px;
}

.no-top-margin {
  margin-top:0px;
}

.small-bottom-margin {
  margin-bottom:30px;
}

.small-top-margin {
  margin-top:30px;
}

/*** Info / Warning summary styles ***/

.info-summary, .warning-summary{
    
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 10px;
  }

  .info-summary {
    border: 4px solid #2e358b;
  }

  .warning-summary {
    border: 4px solid #f47738;
  }

  @media (min-width: 641px) {
    .info-summary , .warning-summary {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 20px 15px 15px;
    }

    .info-summary {
        border: 5px solid #2e358b;
    }

    .warning-summary {
        border: 5px solid #f47738;
    }

  }
  
  .info-summaryfocus {
    outline: 3px solid #2e358b;
  }

  .warning-summaryfocus {
    outline: 3px solid #f47738;
  }

  .info-summary .info-summary-heading, .warning-summary .warning-summary-heading {
    margin-top: 0;
  }
  
  .info-summary p, .warning-summary p {
    margin-bottom: 10px;
  }
  
  .info-summary .info-summary-list, .warning-summary .warning-summary-list {
    padding-left: 0;
  }
  
  @media (min-width: 641px) {
    .info-summary .info-summary-list li, .warning-summary .warning-summary-list li {
      margin-bottom: 5px;
    }
  }
  
  .info-summary .info-summary-list a, .warning-summary .warning-summary-list a {
    
    font-weight: bold;
    text-decoration: underline;
  }

  .info-summary .info-summary-list a{
    color: #2e358b;
  }

  .warning-summary .warning-summary-list a{
    color: #f47738;
  }

  .info-summary-heading, .warning-summary-heading {
    margin-top: 0;
  }

.disability-confident-logo {
    width: 150px;
    margin-top: 10px;
}

mce-tinymce {
    border: 2px solid #0b0c0c !important;
}

.mce-tinymce.editor-focus {
    outline:3px solid #ffbf47;
    outline-offset: 0;
}

/***Review***/
.review-summary {
    border: 5px solid #f47738;
}

.review-container .multiple-choice [type=checkbox] + label::before {
    width: 24px;
    height: 24px
}

.review-container .multiple-choice [type=checkbox] + label::after {
    content: "X";
    font-weight: bold;
    border: none;
    width: 17px;
    height: 7px;
    top: 0px;
    left: 6px;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: x-large;
}

.review-container .form-group {
    display: block;
    margin-bottom: 40px;
}

.review-container .error-summary .form-group {
    display: block;
    margin-bottom: 20px;
}

.vacancy-descriptions ul {
    margin-top: .3125em;
    margin-bottom: 1.25em;
    padding-left: 40px;
    list-style-type: disc;
}

@media (min-width: 641px) {
    .vacancy-descriptions ul {
        margin-top: .26316em;
        margin-bottom: 1.05263em;
    }
}

/** Dashboard styles **/
.search-field {
  position: relative;
  margin-bottom: 15px;
}

.search-field fieldset {
  width: auto;
}

.search-field .search-input {
  padding: 0 38px 0 0;
}

.search-field .search-input input {
  width: 100%;
  padding: 2px 0 0 10px;
  display: block;
  height: 40px;
  border: 1px solid #6f777b;
  border-right: none;
}

.search-field .search-input label {
  display: block;
}

.search-field .search-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 40px;
  overflow: visible;
}

.search-field .search-submit button {
  border-radius: 0;
  box-shadow: none;
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: none;
  overflow: hidden;
  text-indent: -5000px;
  color: #fff;
  background-color: #fff;
  background-image: url(../img/search-glass.png);
  background-repeat: no-repeat;
  background-position: 5px 5px;
  border: 1px solid #6f777b;
}

.field-changed {
    border-left: 5px solid #f47738;
    min-height: 80px;
    padding-left: 15px;
    overflow: auto;
}

.break-word {
  word-wrap:break-word;
}

.tag {
  display: inline-block;
  text-align: center;
  background-color: #808080;
  color: white;
  padding: 0.3em 0.4em 0.2em 0.4em;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  white-space: nowrap;
}
