/*** Cookie banner ***/
.app-cookie-banner {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.14286;
  color: #0b0c0c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #d5e8f3
}

@media print {
  .app-cookie-banner {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .app-cookie-banner {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25
  }
}

@media print {
  .app-cookie-banner {
      font-size: 14pt;
      line-height: 1.2
  }
}

@media print {
  .app-cookie-banner {
      color: #000
  }
}

.app-cookie-banner {
  display: none
}

@media print {
  .app-cookie-banner {
      display: none !important
  }
}

/*** Buttons / links ***/
.das-button-link {
  font-family: nta,Arial,sans-serif;
  display:inline-block;
  padding:10px 15px 5px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px
}


.button-secondary {
    background-color:#BFC1C3;
    box-shadow:none;
    color:#0B0C0C !important;
    display:inline-block;
    padding:7px 15px;
    text-decoration:none;
}

.button-secondary:hover {
    background-color:#BFC1C3;
}

.button-secondary:active {
    top: 2px;
    box-shadow: none;
}

.button-secondary:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0
}

.delete-button, .delete-button:visited, .delete-button:hover {
    background-color: #b10e1e;
    box-shadow: 0 2px 0 #000000;
}

/*** Validation Styles ***/
.validation-summary-valid {
    display: none;
}

/*** Info / Warning summary styles ***/

.info-summary, .warning-summary{
    
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 10px;
  }

  .info-summary {
    border: 4px solid #2e358b;
  }

  .warning-summary {
    border: 4px solid #f47738;
  }

  @media (min-width: 641px) {
    .info-summary , .warning-summary {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 20px 15px 15px;
    }

    .info-summary {
        border: 5px solid #2e358b;
    }

    .warning-summary {
        border: 5px solid #f47738;
    }

  }
  
  .info-summaryfocus {
    outline: 3px solid #2e358b;
  }

  .warning-summaryfocus {
    outline: 3px solid #f47738;
  }

  .info-summary .info-summary-heading, .warning-summary .warning-summary-heading {
    margin-top: 0;
  }
  
  .info-summary p, .warning-summary p {
    margin-bottom: 10px;
  }
  
  .info-summary .info-summary-list, .warning-summary .warning-summary-list {
    padding-left: 0;
  }
  
  @media (min-width: 641px) {
    .info-summary .info-summary-list li, .warning-summary .warning-summary-list li {
      margin-bottom: 5px;
    }
  }
  
  .info-summary .info-summary-list a, .warning-summary .warning-summary-list a {
    
    font-weight: bold;
    text-decoration: underline;
  }

  .info-summary .info-summary-list a{
    color: #2e358b;
  }

  .warning-summary .warning-summary-list a{
    color: #f47738;
  }

  .info-summary-heading, .warning-summary-heading {
    margin-top: 0;
  }

.disability-confident-logo {
    width: 150px;
    margin-top: 10px;
}

mce-tinymce {
    border: 2px solid #0b0c0c !important;
}

.mce-tinymce.editor-focus {
    outline:3px solid #ffbf47;
    outline-offset: 0;
}

/***Review***/
.review-summary {
    border: 5px solid #f47738;
}

.review-container .govuk-checkboxes__input+.govuk-checkboxes__label::before {
    top: 9px;
    width: 24px;
    height: 24px
}

.review-container .govuk-checkboxes__input+.govuk-checkboxes__label::after {
    content: "X";
    font-weight: bold;
    border: none;
    width: 17px;
    height: 7px;
    top: 7px;
    left: 5px;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: x-large;
}

.review-container .form-group {
    display: block;
    margin-bottom: 40px;
}

.review-container .error-summary .form-group {
    display: block;
    margin-bottom: 20px;
}

.vacancy-descriptions ul {
    margin-top: .3125em;
    margin-bottom: 1.25em;
    padding-left: 40px;
    list-style-type: disc;
}

@media (min-width: 641px) {
    .vacancy-descriptions ul {
        margin-top: .26316em;
        margin-bottom: 1.05263em;
    }
}

/** Dashboard styles **/
.search-field {
  position: relative;
}

.search-field fieldset {
  width: auto;
}

.search-field .search-input {
  padding: 0 38px 0 0;
}

.search-field .search-input input {
  width: 100%;
  padding: 2px 0 0 10px;
  display: block;
  height: 40px;
  border: 1px solid #6f777b;
  border-right: none;
}

.search-field .search-input label {
  display: block;
}

.search-field .search-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 40px;
  overflow: visible;
}

.search-field .search-submit button {
  border-radius: 0;
  box-shadow: none;
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: none;
  overflow: hidden;
  text-indent: -5000px;
  color: #fff;
  background-color: #fff;
  background-image: url(../img/search-glass.png);
  background-repeat: no-repeat;
  background-position: 5px 5px;
  border: 1px solid #6f777b;
}

.field-changed {
    border-left: 5px solid #f47738;
    min-height: 80px;
    padding-left: 15px;
    overflow: auto;
}

.break-word {
  word-wrap:break-word;
}

.tag {
  display: inline-block;
  text-align: center;
  background-color: #808080;
  color: white;
  padding: 0.3em 0.4em 0.2em 0.4em;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  white-space: nowrap;
}

.das-tag {
    background-color: #808080;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    padding: 0.3em 0.4em 0.2em;
    text-align: center;
}

.das-tag--new {
    background: transparent;
    border: 3px solid #005ea5;
    color: #000000;
    font-weight: 400;
}

/*** Review header styles ***/

.review-header-table {
  display:table; 
}

.review-header-table-row {
  display:table-row; 
}

.review-header-table-cell {
  display:table-cell; 
  float:none;
}

.review-header-table-cell__border-left{
  border-left:1px solid #bfc1c3;
}

/**User History count**/
.das-user-history-count {
    color:#2b8cc4;
}

#global-outage-message p {
  max-width: 960px;
  margin: 0 15px;
}
  @media (min-width: 641px) {
    #global-outage-message p {
      margin: 0 30px; } }
  @media (min-width: 1020px) {
    #global-outage-message p {
      margin: 0 auto; } }

#global-outage-message form {
  max-width: 960px;
  margin: 0 15px; }
  @media (min-width: 641px) {
    #global-outage-message form {
      margin: 0 30px; } }
  @media (min-width: 1020px) {
    #global-outage-message form {
      margin: 0 auto; } }

#global-outage-message {
  width: 100%;
  background-color: #fdf0c9;
  padding-top: 10px;
  padding-bottom: 10px; }
  #global-outage-message p {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin-top: 0;
    margin-bottom: 0; }
    @media (min-width: 641px) {
      #global-outage-message p {
        font-size: 16px;
        line-height: 1.25; } }

/*** Verification summary ***/
.verification-summary {
  background-color: #f4f4f4;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px
}

@media (min-width: 641px) {
  .verification-summary {
      background-color: #f4f4f4;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 20px 15px 15px
  }
}

.verification-summary .error-summary-heading {
  margin-top: 0
}

.verification-summary p {
  margin-bottom: 10px
}

.verification-summary .verification-summary-list {
  padding-left: 0
}

@media (min-width: 641px) {
  .verification-summary .verification-summary-list li {
      margin-bottom: 5px
  }
}

.verification-summary .verification-summary-list a {
  color: #b10e1e;
  font-weight: 700;
  text-decoration: underline
}

.verification-summary .govuk-heading-s {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #6F777B;
  font-weight: 400;
}

.govuk-button--warning {
  background-color: #d4351c;
  -webkit-box-shadow: 0 2px 0 #55150b;
  box-shadow: 0 2px 0 #55150b
}
.govuk-button--warning:hover {
  background-color: #aa2a16
}
.govuk-button--warning:hover[disabled] {
  background-color: #d4351c
}
.govuk-button--warning,.govuk-button--warning:link,.govuk-button--warning:visited,.govuk-button--warning:active,.govuk-button--warning:hover {
  color: #fff
}

/*** Additional error style ***/
.govuk-error-summary__list span {
    color: #b10e1e;
    font-weight: 700;
}

/*** User Generated Content***/
.app-preserve-line-breaks {
    white-space: pre-line;
}

.sign-out {
    padding-left: 0 !important;
}

.float-right {
    float: right;
}

.das-hyperlink-wrapper {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.govuk-list > ul {
    list-style: disc;
}