@model Esfa.Recruit.Employer.Web.ViewModels.Preview.IndexViewModel

<h1>Vacancy preview</h1>
<h2>@Model.Title</h2>

<form asp-route="@RouteNames.Preview_Index_Post">
    <div class="form-group">
        <a asp-route="@RouteNames.Sections_Index_Get">Return to vacancy</a>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
