<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge small-bottom-margin">Vacancy Review</h1>
         <h1 class="heading-xlarge small-bottom-margin">
            [TITLE]
            <span class="heading-secondary">[EMPLOYER NAME]</span>
        </h1>
    </div>
    <div class="column-one-third">
        <div class="info-summary small-top-margin">
            <h2 class="heading-medium info-summary-heading">User profile</h2>
            <div class="heading-small">[USER NAME]</div>
            <div>
                <a href="mailto:[USER EMAIL]">[USER EMAIL]</a>
            </div>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div>
            <h3 class="heading-small sfa-no-top-margin">Brief overview of the role</h3>
            <p>[SHORT DESCRIPTION]</p>
        </div>
    </div>
    <div class="column-one-third">
        <div>
            <h3 class="heading-small sfa-no-top-margin">Closing Date</h3>
            <p>[CLOSING DATE]</p>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Apprenticeship summary</h2>
    </div>
</div>

<div class="grid-row">
    <div class="column-one-third">
        <ul class="list">
            <li>
                <h3 class="heading-small">Working week</h3>
                <ul class="list">
                    <li>
                        [WORKING WEEK DESCRIPTION]
                    </li>
                    <li>
                        Total hours per week: [TOTAL HOURS PER WEEK]
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="heading-small">Yearly wage</h3>
                <p>[WAGE TEXT]</p>
                <p>[WAGE INFO]</p>
            </li>
            <li>
                <h3 class="heading-small">Expected apprenticeship duration</h3>
                <p>[HAS EXPECTED DURATION]</p>              
            </li>
            <li>
                <h3 class="heading-small">Possible start date</h3>
                <p>[START DATE]</p>
            </li>
            <li>
                <h3 class="heading-small">Apprenticeship level</h3>
                <p>[TRAINING LEVEL] Level Apprenticeship</p>
            </li>
            <li>
                <h3 class="heading-small">Reference number</h3>
                <p>[REFERENCE NUMBER]</p>
            </li>
            <li>
                <h3 class="heading-small">Positions</h3>
                <p>[NO POSITIONS]</p>
            </li>
        </ul>
    </div>
    <div class="column-two-thirds">
        <div>
            <h3 class="heading-small">Vacancy description</h3>
            <div>
                <p>[VACANCY DESCRIPTION]</p>
                <p>[TRAINING DESCRIPTION]</p>
                <p>[OUTCOME DESCRIPTION]</p>
            </div>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <hr class="no-bottom-margin">
    </div>
</div>


<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Requirements and prospects</h2>
    </div>
</div>

<div class="grid-row">
    <div class="column-half">
        <div>
            <h3 class="heading-small">Desired skills and personal qualities</h3>
            <p>[SKILLS LIST]</p>
        </div>
        <div>
            <h3 class="heading-small">Qualifications</h3>
            <p>
                    [QUALIFICATION 1]<br />
                    [QUALIFICATION 2]<br />
            </p>
        </div>
    </div>
    <div class="column-half">
        <div>
            <h3 class="heading-small">Things to consider (optional)</h3>
            <p>[THINGS TO CONSIDER]</p>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <hr class="no-bottom-margin">
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">About the employer</h2>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div>
            <h3 class="heading-small">Employer</h3>
            <p>[EMPLOYER NAME]</p>
        </div>
        <div>
            <h3 class="heading-small">Description</h3>
            <p>[EMPLOYER DESCRIPTION]</p>
        </div>
        <div>
            <h3 class="heading-small">Website (optional)</h3>
            <p>[EMPLOYER WEBSITE URL]</p>
        </div>
    </div>
    <div class="column-one-third">
        <div>
            <h3 class="heading-small">Contact details (optional)</h3>
            <p>[CONTACT NAME]</p>
            <p>[CONTACT EMAIL]</p>
            <p>[CONTACT TELEPHONE]</p>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-half">
        <div>
            <h3 class="heading-small">Location</h3>
            <ul class="list">
                <li>[ADDRESS LINE 1]</li>
                <li>[ADDRESS LINE 1]</li>
            </ul>
        </div>
    </div>
    <div class="column-half">
        <img id="static-map" src="[MAP URL]" />
    </div>
</div>
            
<div class="grid-row">
    <div class="column-full">
        <div>
            <h2 class="heading-small">Employer's application instructions (optional)</h2>
            <p>[APPLICATION INSTRUCTIONS]</p>
        </div>
        <div>
            <h2 class="heading-small">Employer's application website</h2>
            <p>[APPLY URL]</p>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <hr class="no-bottom-margin">
    </div>
</div>
            
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Training provider</h2>
    </div>
</div>


<div class="grid-row">
    <div class="column-full">
        <div>
            <h3 class="heading-small">Training provider</h3>
            <p>[PROVIDER NAME]</p>
        </div>
        <div>
            <h3 class="heading-small">Apprenticeship [TRAINING TYPE]</h3>
            <p>[TRAINING TITLE]</p>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <hr class="no-bottom-margin">
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <div class="form-group inline">
            <div class="form-group small-top-margin">
                <a class="button" href="qa-dashboard">Approve vacancy</a>
                <a class="button-link" href="qa-vacancy-edit">Refer vacancy</a>
                <a class="button-link" href="qa-dashboard">Back to QA dashboard</a>
            </div>
        </div>
    </div>
</div>