
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge small-bottom-margin">Vacancy Preview</h1>
        <h1 class="heading-xlarge" id="vacanacy-header">
            Software Developer Apprentice
            <span class="heading-secondary">Organisation A</span>
        </h1>
    </div>
    <div class="column-one-third">
        <!-- Error summary -->
        <div class="error-summary small-top-margin" style="border:5px solid #28a197;" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                User profile
            </h2>
            <div class="heading-small">Joe Bloggs</div>
            <div>
                <a href="mailto:joe.bloggs@org-a.com">joe.bloggs@org-a.com</a>
            </div>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h3 class="heading-small sfa-no-top-margin">Brief overview of the role</h3>
        <div id="vacancy-overview">
            <p class="preserve-format">We are not looking for programming heroes! We want you to develop to be one of the next generation of Engineers for software
                based systems!</p>
        </div>
    </div>
    <div class="column-one-third">
        <h3 class="heading-small sfa-no-top-margin">Closing date</h3>
        <p id="vacancy-closing-date">01 Sep 2018</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Apprenticeship summary</h2>
    </div>

    <div class="column-one-third">
        <ul class="list">
            <li class="editable-item sfa-if-first">
                <h3 class="heading-small">Working week</h3>
                <ul class="list">
                    <li id="vacancy-working-week">
                        Monday to Friday 9-5pm
                    </li>
                    <li id="total-hours-per-week">
                        Total hours per week: 37.50
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="heading-small" id="vacancy-wage-header">Yearly wage</h3>
                <p id="vacancy-wage">£16500</p>
                <p>Shift allowance also payable</p>
            </li>
            <li>
                <h3 class="heading-small">Expected apprenticeship duration</h3>
                <p id="vacancy-expected-duration">12 months</p>
            </li>
            <li>
                <h3 class="heading-small">Possible start date</h3>
                <p id="vacancy-start-date">15 Sep 2018</p>
            </li>
            <li>
                <h3 class="heading-small">Apprenticeship level</h3>
                <p id="vacancy-type">Advanced Level Apprenticeship</p>
            </li>
            <li>
                <h3 class="heading-small">Reference number</h3>
                <p id="vacancy-reference-id" class="secondary-text">Generated once live</p>
            </li>

            <li>
                <h3 class="heading-small">Positions</h3>
                <p id="vacancy-amount-id">1 available</p>
            </li>
        </ul>
    </div>
    <div class="column-two-thirds">
        <h3 class="heading-small">
            Vacancy description
        </h3>
        <div id="vacancy-full-descrpition">
            <p class="preserve-format">
                </p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed consectetur dolor, nec egestas orci. Suspendisse
                    finibus sem egestas erat finibus, ac efficitur felis ultrices. Suspendisse eu congue massa, at eleifend tortor. </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed consectetur dolor, nec egestas orci. Suspendisse
                    finibus sem egestas erat finibus, ac efficitur felis ultrices. Suspendisse eu congue massa, at eleifend tortor. </p>
                    
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed consectetur dolor, nec egestas orci. Suspendisse
                    finibus sem egestas erat finibus, ac efficitur felis ultrices. Suspendisse eu congue massa, at eleifend tortor. </p>
        </div>
    </div>
</div>

<hr class="sfa-no-bottom-margin">

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Requirements and prospects</h2>
    </div>

    <div class="column-half">
        <div class="sfa-if-first">
            <h3 class="heading-small">Desired skills and personal qualities</h3>
            <div id="vacancy-skills-qualities-required">
                <p class="preserve-format">Friendly, Team player, Hard working</p>
            </div>
        </div>
        <div>
            <h3 class="heading-small">Qualifications</h3>
            <div id="vacancy-qualifications-required">
                <p class="preserve-format">GCSE Maths (Grade C) required
                    <br> GCSE English (Grade B) desired </p>
            </div>
        </div>
    </div>

    <div class="column-half">
        <div class="editable-item sfa-if-first">
            <h3 class="heading-small">Things to consider (optional)</h3>
            <div id="vacancy-reality-check">
                <p class="preserve-format">Apprenticeship National Minimum Wage (ANMW): The National Minimum Wage for Apprentices is £3.50 per hour. This is the
                    legal minimum pay per hour applying to 16-18-year-old apprentices and those aged 19 and over in the first year of their
                    apprenticeship. For apprentices 19 or over who have completed their first year and are continuing their apprenticeship,
                    the National Minimum wage appropriate to their age applies. It is highly important that you do not contact the Employers
                    directly – any attempt of this may invalidate candidate’s application. Should you have any queries regarding your Application
                    or the job itself, please contact your 3aaa Training Academy.</p>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="grid-row" id="employer-info">
    <div class="column-full">
        <h2 class="heading-large">About the employer</h2>
    </div>

    <div class="column-two-thirds">
        <div class="sfa-if-first">
            <h3 class="heading-small">Employer</h3>
            <p id="vacancy-employer-name">Organisation A</p>
        </div>
        <div>
            <h3 class="heading-small">Description</h3>
            <div id="vacancy-employer-description">
                <p>They are a Midlands based company, providing IT support and maintenance to small and medium sized businesses in the
                    area. They specialise in various sectors, but can provide support to all businesses and home users.</p>
            </div>
        </div>
        <div class="anonymous-hide">
            <h3 class="heading-small">Website (optional)</h3>
            <div id="vacancy-employer-website">
                <p>
                    <a href="id=&quot;vacamcy-employer-url&quot;">www.testcompany.co.uk</a>
                </p>
            </div>
        </div>
    </div>

    <div class="column-one-third">
        <h3 class="heading-small">
            Contact (optional)
        </h3>
        <p class="sfa-small-bottom-margin">Joe Bloggs</p>
        <p class="sfa-small-bottom-margin">0123 456 7890</p>
        <p class="sfa-small-bottom-margin">joe@testcompany.co.uk</p>
    </div>

</div>


<div class="grid-row">
    <div class="column-half">
        <div id="vacancy-address">
            <h3 class="heading-small sfa-no-top-margin">Location</h3>
            <ul class="list">
                1 Test Road, Test town, T12 3AB
            </ul>
        </div>
    </div>

    <div class="column-half">
        <div id="vacancy-map" class="ad-details__map">
            <div class="map-overlay" onclick=" style.pointerEvents='none' "></div>
            <iframe width="465" height="250" title="Map of location" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=CV10 7RH,+United+Kingdom&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8" kwframeid="1"></iframe>
        </div>
    </div>
</div>

<div id="offline-vacancy">
    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-small">Employer's application instructions</h2>
        </div>
        <div class="column-two-thirds">
            <p id="application-instructions" class="preserve-format"></p>
        </div>

        <div class="column-two-thirds">
            <p class="sfa-no-bottom-margin">
                This apprenticeship requires you to apply through the employer's website.
            </p>
            <p>
                <a id="external-employer-website" href="#1" target="_blank">Apply Link</a>
            </p>
        </div>
    </div>
    <hr class="sfa-no-bottom-margin">
</div>

<div class="grid-row" id="provider-info">
    <div class="column-full">
        <h2 class="heading-large">Training</h2>
    </div>
    <div class="column-full">
        <div id="training-provider-section" class="sfa-if-first">
            <p id="vacancy-provider-name">Test Training Co</p>
        </div>
        <h3 class="heading-small">Apprenticeship framework</h3>
        <p is="vacancy-framework">Advanced framework</p>
    </div>
</div>

<hr class="sfa-no-bottom-margin">

<div class="form-group inline">
    <div class="form-group small-top-margin">
        <a class="button" href="qa-dashboard">Approve vacancy</a>
        <a class="button-link" href="qa-vacancy-edit">Refer vacancy</a>
        <a class="button-link" href="qa-dashboard">Back to QA dashboard</a>
    </div>
</div>
