@model Esfa.Recruit.Employer.Web.ViewModels.ManageNotifications.ManageNotificationsAcknowledgementViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-notifications-updated-acknowledgement";
    ViewBag.Title = "You’ve successfully saved your email preferences";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You’ve successfully saved your email preferences
            </h1>
        </div>

        <div class="govuk-body">
            <div>
                <p asp-show="Model.IsUserSubmittedVacanciesSelected"> We'll email <b>@Model.UserEmail</b> about any adverts you submit. You'll get emails when: </p>
                <p asp-show="!Model.IsUserSubmittedVacanciesSelected"> We'll email <b>@Model.UserEmail</b> about all apprenticeship adverts for your organisation. You'll get emails when: </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li asp-show="Model.IsVacancyRejectedSelected">
                        an advert is rejected after review
                    </li>
                    <li asp-show="Model.IsVacancySentForEmployerReview">
                        a provider submits an advert for you to review
                    </li>
                    <li asp-show="Model.IsApplicationSubmittedSelected">
                        you receive new applications (@Model.Frequency)
                    </li>
                </ul>
            </div>
        </div>
      
        <a asp-route="@RouteNames.Dashboard_Get" class="govuk-button govuk-!-margin-bottom-6" esfa-automation="create-vacancy">Return to dashboard</a>
    </div>
</div>
