@model Esfa.Recruit.Employer.Web.ViewModels.TrainingProvider.ConfirmViewModel

<h1>Confirm training provider</h1>
<h2>@Model.Title</h2>

<form asp-action="Confirm">
    <div class="form-group">
        <a asp-action="Index">Change training provider</a>
        <input type="submit" value="Confirm training provider" class="btn btn-primary" />
    </div>
</form>
