@model Esfa.Recruit.Employer.Web.ViewModels.TrainingProvider.ConfirmViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Model.Title</h1>
        <h1 class="heading-large">Confirmtraining provider</h1>

        <form asp-route="@RouteNames.TrainingProvider_Confirm_Post">
            <div class="form-group">
                <a asp-route="@RouteNames.TrainingProvider_Index_Get" class="button-link">Change training provider</a>
                <input type="submit" value="Confirm training provider" class="button" />
            </div>
        </form>
    </div>
</div>