@model Esfa.Recruit.Employer.Web.ViewModels.TrainingProvider.IndexViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Model.Title</h1>
        <h1 class="heading-large">Add training provider</h1>

        <form asp-route="@RouteNames.TrainingProvider_Index_Post">
            <div class="form-group">
                <a asp-route="@RouteNames.Sections_Index_Get" class="button-link">Return to vacancy</a>
                <input type="submit" value="Continue" class="button" />
            </div>
        </form>
    </div>
</div>