<ul class="govuk-list govuk-list--bullet">
    <li>@RecruitViewConstants.HelpdeskPhoneNumber</li>
    <li>
        <a href="mailto:@RecruitViewConstants.HelpdeskEmailAddress" class="govuk-link">@RecruitViewConstants.HelpdeskEmailAddress</a>
    </li>
</ul>