@model bool

<details asp-show="@Model" class="govuk-details" role="group">
    <summary class="govuk-details__summary" role="button" aria-controls="disability-confident-explanation" aria-expanded="false">
        <span class="govuk-details__summary-text">About Disability Confident</span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">Disabled candidates who meet the minimum requirements for this apprenticeship are generally guaranteed an interview. Contact the employer for full details.</p>

        <p class="govuk-body">Employers may need to limit the number of interviews offered to both disabled and non-disabled people if they receive high numbers of applications.</p>

        <p class="govuk-body">The disability confident scheme supports employers to make the most of the talents disabled people can bring to your workplace.</p>
    </div>
</details>