<details class="govuk-details" role="group">
    <summary class="govuk-details__summary" role="button" aria-controls="help-contact-details" aria-expanded="false">
        <span class="govuk-details__summary-text">Get help <span class="govuk-visually-hidden">. Contact our helpdesk on: @RecruitViewConstants.HelpdeskPhoneNumber or email @RecruitViewConstants.HelpdeskEmailAddress</span></span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">Contact our helpdesk on:</p>
        <partial name="@RecruitPartialNames.ContactDetailsListPartial" />
    </div>
</details>