<details class="small-top-margin" role="group">
    <summary role="button" aria-controls="help-contact-details" aria-expanded="false">
        <span>Get help <span class="visually-hidden">. Contact our helpdesk on: @RecruitViewConstants.HelpdeskPhoneNumber or email @RecruitViewConstants.HelpdeskEmailAddress</span></span>
    </summary>
    <div class="panel panel-border-narrow">
        <p>Contact our helpdesk on:</p>
        <ul class="list-bullet">
            <li>@RecruitViewConstants.HelpdeskPhoneNumber</li>
            <li>
                <a href="mailto:@RecruitViewConstants.HelpdeskEmailAddress">@RecruitViewConstants.HelpdeskEmailAddress</a>
            </li>
        </ul>
    </div>
</details>