<details class="small-top-margin" role="group">
    <summary role="button" aria-controls="help-contact-details" aria-expanded="false">
        <span>Get help</span>
    </summary>
    <div class="panel panel-border-narrow">
        <p>Contact our helpdesk on:</p>
        <ul class="list-bullet">
            <li>@RecruitViewConstants.HelpdeskPhoneNumber</li>
            <li>
                <span class="visually-hidden">or email </span><a href="mailto:@RecruitViewConstants.HelpdeskEmailAddress">@RecruitViewConstants.HelpdeskEmailAddress</a>
            </li>
        </ul>
    </div>
</details>