@using Microsoft.AspNetCore.Mvc.ModelBinding;
@model ValidationSummaryViewModel
@{ 
    var validationSummaryClass = Model.ModelState.IsValid ? "validation-summary-valid" : "validation-summary-errors";
}
<div class="@validationSummaryClass govuk-error-summary" role="alert" data-valmsg-summary="true" tabindex="-1">
    <h2 class="govuk-error-summary__title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            @foreach (var stateItem in Model.ModelState.Where(msi => msi.Value.ValidationState == ModelValidationState.Invalid)
                                                       .OrderBy(x => Model.OrderedFieldNames.IndexOf(x.Key)))
            {
                var errorVm = new ErrorListItemViewModel(ViewData.TemplateInfo.GetFullHtmlFieldName(stateItem.Key) ?? stateItem.Key,
                    stateItem.Value.Errors.FirstOrDefault()?.ErrorMessage);
                <partial name="@RecruitPartialNames.ErrorListItem" model="@errorVm" />
            }
        </ul>
    </div>
</div>