/* Dashboard */

.app-card {
  border: 1px solid #bfc1c3;
  height: 100%;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .app-card {
    margin-bottom: 0;
  }
}

.app-card--inactive {
  background-color: #f8f8f8;
}

.app-card__heading {
  margin-bottom: 10px;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.31579;
}

@media (min-width: 40.0625em) {
  .app-card__stat {
    display: block;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.25;
  }
}

.app-card__content {
  padding: 20px;
}

.app-card__description {
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

.app-card__tasks {
  margin-top: 15px;
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .app-card__row {
    display: flex;
    margin-bottom: 30px;
  }
}

/* Status Tags */

.app-tag {
  font-size: inherit;
}

.app-tag--draft {
  color: #383f43;
  background: #eeefef;
}

.app-tag--submitted {
  color: #6e3619;
  background: #fcd6c3;
}

.app-tag--referred {
  color: #942514;
  background: #f6d7d2;
}

.app-tag--approved {
  color: #005a30;
  background: #cce2d8;
}

.app-tag--live {
  color: #005a30;
  background: #cce2d8;
}

.app-tag--closed {
  color: #383f43;
  background: #eeefef;
}

.app-tag--transferred {
  color: #144e81;
  background: #d2e2f1;
}

/* Vacancy preview */

.app-preview-wrap {
  border: 1px solid #b1b4b6;
  padding: 20px;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .app-preview-wrap {
    padding: 40px;
    margin-bottom: 40px;
  }
}

.app-preview-map {
  max-width: 100%;
}

.app-preview-section--empty {
  border-left: 5px solid #1d70b8;
  min-height: 80px;
  padding-left: 15px;
}

.app-preview-section--error {
  border-left: 5px solid #d4351c;
  min-height: 80px;
  padding-left: 15px;
}

.app-preview-section--review {
  border-left: 5px solid #f47738;
  min-height: 80px;
  padding-left: 15px;
}

/* Check your answers */

.app-summary-list {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0b0c0c;
  margin: 0;
}

@media (min-width: 40.0625em) {
  .app-summary-list {
    font-size: 19px;
    line-height: 1.3;
  }
}

.app-summary-list__row {
  border-bottom: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .app-summary-list__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
}

.app-summary-list__row--no-border {
  border-bottom: none;
}

.app-summary-list__row--error {
  border-left: 5px solid #d4351c;
  padding-left: 10px;
}

.app-summary-list__key {
  padding-bottom: 5px;
  font-weight: 700;
}

@media (min-width: 40.0625em) {
  .app-summary-list__key {
    flex-basis: 30%;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

.app-summary-list__value {
  margin: 0;
  padding-bottom: 10px;
}

@media (min-width: 40.0625em) {
  .app-summary-list__value {
    flex-basis: 50%;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

.app-summary-list__actions {
  margin: 0 0 15px;
  padding: 0;
}

@media (min-width: 40.0625em) {
  .app-summary-list__actions {
    flex-basis: 20%;
    text-align: right;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}

.app-summary-list__error-message {
  border-left: 5px solid #d4351c;
  margin: 0;
  padding: 0 10px 10px;
  color: #d4351c;
  font-weight: 700;
  display: block;
}

.app-summary-list__error-message:empty {
  display: none;
}

/* Analytics styles for vacancies */

.app-analytics {
  background: #f3f2f1;
}

.app-analytics__heading {
  padding: 5px 10px;
  background: #ddd;
  margin: 0;
}

.app-analytics__data {
  padding: 10px;
  font-weight: 700;
  margin: 0;
}

.app-analytics__summary {
  border-top: 1px solid #ccc;
  padding: 5px 10px;
}

/* Local overrides to the das-task-list component */

.das-task-list__section {
  width: 100%;
}

.das-task-list__section-number {
  width: 20px;
}

@media (min-width: 40.0625em) {
  .das-task-list__section-number {
    width: 30px;
  }
}

.das-task-list__section-heading {
  display: table-cell;
}

.das-task-list__section-status {
  text-align: right;
  display: table-cell;
}

/* User generated content */

.app-ugc-wrap > ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: disc;
}

.app-preserve-line-breaks {
  white-space: pre-line;
}

/* Tinymce */

.mce-tinymce {
  border: 2px solid #0b0c0c !important;
}

/* Hide error message spans if empty  */

span.govuk-error-message:empty {
  display: none;
}

.app-disability-confident-logo {
  width: 150px;
}

.js-enabled .app-select__panel--hidden {
  display: none;
}

/*** JQuery UI autocomplete styles ***/

.ui-autocomplete {
  background-color: #fff;
  border: 2px solid #0b0c0c;
  color: #34384b;
  cursor: default;
  margin: 0;
  max-height: 342px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
}

.ui-autocomplete .ui-menu-item {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  border-bottom: solid #bfc1c3;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  font-size: 19px;
  padding: 4px;
  position: relative;
}

@media (max-width: 640px) {
  .ui-autocomplete .ui-menu-item {
    font-size: 16px;
  }
}

.ui-autocomplete .ui-menu-item > * {
  pointer-events: none;
}

.ui-autocomplete .ui-menu-item:first-of-type {
  border-top-width: 0;
}

.ui-autocomplete .ui-menu-item:last-of-type {
  border-bottom-width: 0;
}

.ui-autocomplete .ui-menu-item:nth-child(odd) {
  background-color: #fafafa;
}

.ui-autocomplete .ui-menu-item:hover {
  background-color: #1d70b8;
  border-color: #1d70b8;
  color: #fff;
  outline: 0;
}

.das-definition-list--table .das-definition-list__title:after {
  content: "" !important;
}

/* FAA Vacancy preview */

.faa-vacancy__title {
  margin-bottom: 10px;
}

.faa-vacancy__organisation {
  margin-bottom: 0;
}

.faa-vacancy__location {
  margin-bottom: 30px;
  color: #505a5f;
}

.faa-vacancy__closing-date {
  margin: 0;
}

.faa-vacancy__section {
  border-bottom: 1px solid #b1b4b6;
  padding-bottom: 35px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.faa-vacancy__section--last {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.faa-vacancy__section--first {
  border-bottom: none !important;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.faa-vacancy-actions {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 40.0625em) {
  .faa-vacancy-actions {
    flex-direction: row;
  }
}

.faa-vacancy-actions__link {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

@media (min-width: 40.0625em) {
  .faa-vacancy-actions__link {
    margin-right: 15px;
  }
}

.faa-vacancy-actions__icon {
  max-height: 1em;
  min-width: 1em;
  margin-right: 5px;
}

.faa-vacancy__section > p:not([class]) {
  color: inherit;
}

.faa-vacancy__section > p:empty {
  display: none;
}

.faa-vacancy__section > ul:not([class]) {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 0;
  list-style-type: none;
}

.faa-vacancy__section > ul:not([class]) {
  color: inherit;
}

@media print {
  .faa-vacancy__section > ul:not([class]),
  .govuk-list,
  .faa-vacancy__section > ol:not([class]) {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .faa-vacancy__section > ul:not([class]),
  .govuk-list,
  .faa-vacancy__section > ol:not([class]) {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

@media print {
  .faa-vacancy__section > ul:not([class]),
  .govuk-list,
  .faa-vacancy__section > ol:not([class]) {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .faa-vacancy__section > ul:not([class]),
  .govuk-list,
  .faa-vacancy__section > ol:not([class]) {
    color: #000;
  }
}

@media (min-width: 40.0625em) {
  .faa-vacancy__section > ul:not([class]),
  .govuk-list,
  .faa-vacancy__section > ol:not([class]) {
    margin-bottom: 20px;
  }
}

.faa-vacancy__section > ul:not([class]) .faa-vacancy__section > ul:not([class]),
.faa-vacancy__section > ol:not([class]) .faa-vacancy__section > ul:not([class]),
.faa-vacancy__section > ul:not([class]) .govuk-list,
.faa-vacancy__section > ul:not([class]) .faa-vacancy__section > ol:not([class]),
.faa-vacancy__section > ol:not([class]) .govuk-list,
.faa-vacancy__section
  > ol:not([class])
  .faa-vacancy__section
  > ol:not([class]) {
  margin-top: 10px;
}

.faa-vacancy__section > ul:not([class]) > li,
.faa-vacancy__section > ol:not([class]) > li {
  margin-bottom: 5px;
}

.faa-vacancy__section > ul:not([class]) {
  padding-left: 20px;
  list-style-type: disc;
}

.faa-vacancy__section > ol:not([class]) {
  padding-left: 20px;
  list-style-type: decimal;
}

.faa-vacancy__section > ul:not([class]) > li,
.faa-vacancy__section > ol:not([class]) > li {
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .faa-vacancy__section > ul:not([class]) > li,
  .faa-vacancy__section > ol:not([class]) > li {
    margin-bottom: 5px;
  }
}

.faa-vacancy__section > ul > li > p,
.faa-vacancy__section > ol > li > p {
  margin: 0;
}

.faa-vacancy__section > ol:not([class]) {
  color: inherit;
}

.faa-disability-confident--srp {
  width: 130px;
  display: block;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .faa-contents {
    position: sticky;
    top: 10px;
  }
}

.faa-contents__list {
  margin-top: -10px;
  margin-bottom: 20px;
}

.faa-contents__list > li {
  margin-bottom: 10px;
}

.faa-contents__list-item {
  margin-left: 25px;
  padding-right: 25px;
}

.faa-contents__list-item:before {
  color: #0b0c0c;
  content: "—";
  margin-left: -25px;
  padding-right: 5px;
}

.raa-summary-box
{
  background-color:#f4f4f4;
  padding:20px;
  margin-bottom:30px;
}