/* Dashboard */

.app-card {
    border: 1px solid #bfc1c3;
    height: 100%;
    margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
    .app-card {
        margin-bottom: 0;
    }
}

.app-card--inactive {
    background-color: #f8f8f8;
}

.app-card__heading {
    margin-bottom: 10px;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}

@media (min-width: 40.0625em) {
    .app-card__stat {
        display: block;
        font-size: 32px;
        font-size: 2rem;
        line-height: 1.25;
    }
}

.app-card__content {
    padding: 20px;
}

.app-card__description {
    margin-bottom: 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

.app-card__tasks {
    margin-top: 15px;
    margin-bottom: 0;
}

@media (min-width: 40.0625em) {
    .app-card__row {
        display: flex;
        margin-bottom: 30px;
    }
}


/* Status Tags */

.app-tag {
    font-size: inherit;
}

.app-tag--draft {
    color: #383f43;
    background: #eeefef;
}

.app-tag--submitted {
    color: #6e3619;
    background: #fcd6c3;
}

.app-tag--referred {
    color: #942514;
    background: #f6d7d2;
}

.app-tag--approved {
    color: #005a30;
    background: #cce2d8;
}

.app-tag--live {
    color: #005a30;
    background: #cce2d8;
}

.app-tag--closed {
    color: #383f43;
    background: #eeefef;
}

.app-tag--transferred {
    color: #144e81;
    background: #d2e2f1;
}

/* Vacancy preview */

.app-preview-section--empty {
    border-left: 5px solid #1d70b8;
    min-height: 80px;
    padding-left: 15px;
}

.app-preview-section--error {
    border-left: 5px solid #d4351c;
    min-height: 80px;
    padding-left: 15px;
}

.app-preview-section--review {
    border-left: 5px solid #f47738;
    min-height: 80px;
    padding-left: 15px;
}