/*** Cookie banner ***/
.app-cookie-banner {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    color: #0b0c0c;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: #d5e8f3
}

@media print {
    .app-cookie-banner {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .app-cookie-banner {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .app-cookie-banner {
        font-size: 14pt;
        line-height: 1.2
    }
}

@media print {
    .app-cookie-banner {
        color: #000
    }
}

.app-cookie-banner {
    display: none
}

@media print {
    .app-cookie-banner {
        display: none !important
    }
}

/*** Added as new GDS doesn't have js-hidden class **/
.js-hidden {
    display: none;
    visibility: hidden;
}

/*** Validation Styles ***/
.validation-summary-valid {
    display:none;
}

/*** Buttons / links ***/
.das-button-link {
    font-family: nta,Arial,sans-serif;
    display:inline-block;
    padding:10px 15px 5px 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px
}

.button-fake-link {
    background:none;
    border:none;
    color: #005ea5;
    cursor: pointer;
    display:inline-block;
    font-size:1em;
    padding:0;    
    text-decoration: underline;
}

.button-secondary {
    background-color:#BFC1C3;
    box-shadow:none;
    color:#0B0C0C !important;
    display:inline-block;
    padding:7px 15px;
    text-decoration:none;
}

.button-secondary:hover {
    background-color:#BFC1C3;
}

.button-secondary:active {
    top: 2px;
    box-shadow: none;
}

.button-secondary:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0
}

.delete-button, .delete-button:visited, .delete-button:hover {
    background-color: #b10e1e;
    box-shadow: 0 2px 0 #000000;
}

/** Utility classes ***/
.float-right {
    float:right;
}

@media (min-width: 641px) {
  .float-right-desktop {
      float:right;
  }
}

.float-left {
    float:left;
}

.clear{
    clear:both;
}

.hide {
  display: none;
}

.grey-border {
    border: 1px solid #bfc1c3;
    padding: 15px;
    margin-bottom: 15px;
    overflow: auto;
}

.character-count {
  margin-bottom: 5px;
}

/*** Disability confident styles ***/
.disability-confident-logo {
    width: 150px;
    margin-top: 10px;
}

.disability-confident-logo-big {
    width: 200px; 
    margin-top: 10px;
}

/*** Info / Warning summary styles ***/
.info-summary, .warning-summary{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 10px;
  }

  .info-summary {
    border: 4px solid #2e358b;
  }

  .warning-summary {
    border: 4px solid #f47738;
  }

 .highlight-summary {
   border: 4px solid #28a197;
 }

  @media (min-width: 641px) {
    .info-summary, .warning-summary, .highlight-summary {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px 15px 15px;
    }

    .info-summary {
        border: 5px solid #2e358b;
    }

    .warning-summary {
        border: 5px solid #f47738;
    }

    .highlight-summary {
        border: 4px solid #28a197;
    }
  }
  
  .info-summaryfocus {
    outline: 3px solid #2e358b;
  }

  .warning-summaryfocus {
    outline: 3px solid #f47738;
  }

  .info-summary .info-summary-heading, .warning-summary .warning-summary-heading {
    margin-top: 0;
  }
  
  .info-summary p, .warning-summary p {
    margin-bottom: 10px;
  }
  
  .info-summary .info-summary-list, .warning-summary .warning-summary-list {
    padding-left: 0;
  }
  
  @media (min-width: 641px) {
    .info-summary .info-summary-list li, .warning-summary .warning-summary-list li {
      margin-bottom: 5px;
    }
  }
  
  .info-summary .info-summary-list a, .warning-summary .warning-summary-list a {
    
    font-weight: bold;
    text-decoration: underline;
  }

  .info-summary .info-summary-list a{
    color: #2e358b;
  }

  .warning-summary .warning-summary-list a{
    color: #f47738;
  }

  .info-summary-heading, .warning-summary-heading {
    margin-top: 0;
  }

  /*** Info summary header bar ***/
  .info-summary__header-bar{
    background:#2e358b;
    margin-bottom:0;
    padding:20px;
  }
  .info-summary__header-bar h2 {
    margin-bottom:0;
    color: #fff;
  }

/*** Additional error style ***/
.govuk-error-summary__list span {
    color: #b10e1e;
    font-weight: 700;
}

/***  Inline form ***/
.form-inline{
    display: inline;
}

/*** Verification summary ***/
.verification-summary {
    background-color: #f4f4f4;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 10px
}

@media (min-width: 641px) {
    .verification-summary {
        background-color: #f4f4f4;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px 15px 15px
    }
}

.verification-summary .error-summary-heading {
    margin-top: 0
}

.verification-summary p {
    margin-bottom: 10px
}

.verification-summary .verification-summary-list {
    padding-left: 0
}

@media (min-width: 641px) {
    .verification-summary .verification-summary-list li {
        margin-bottom: 5px
    }
}

.verification-summary .verification-summary-list a {
    color: #b10e1e;
    font-weight: 700;
    text-decoration: underline
}

.verification-summary .govuk-heading-s {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #6F777B;
    font-weight: 400;
}

/*** Review summary ***/
.review-summary {
    border: 5px solid #f47738;
}

.preview-empty {
    border-left: 5px solid #2e358b;
    min-height: 80px;
    padding-left: 15px;
}

.preview-error {
    border-left: 5px solid #b10e1e;
    min-height: 80px;
    padding-left: 15px;
}

.preview-review {
    border-left: 5px solid #f47738;
    min-height: 80px;
    padding-left: 15px;
}

.vacancy-descriptions ul {
    margin-top: .3125em;
    margin-bottom: 1.25em;
    padding-left: 40px;
    list-style-type: disc;
}

@media (min-width: 641px) {
    .vacancy-descriptions ul {
        margin-top: .26316em;
        margin-bottom: 1.05263em;
    }
}

/*** Skills ***/
@media(min-width: 769px) {
    .two-column-checkbox-container{
        overflow:hidden;
    }

    .two-column-checkbox {
        display:block;
        width:50%;
        float:left;
    }

    .two-column-checkbox:after{
        content: "";
        clear:both;
        display:block;
    }
}
textarea.form-control {
    opacity: 1;
    background-image: none;
}

input.form-control, textarea.form-control {
    appearance:none;
    -webkit-appearance: none;
    border-radius: 0;
}

.red-cross-logo {
    margin-right: 5px;
  }

/*** Embeded map ***/
#static-map {
    max-width:100%;
}


/*** Tiny MCE Styles ***/
.mce-tinymce {
  border: 2px solid #0b0c0c !important;
}

/*** JQuery UI autocomplete styles ***/

.ui-autocomplete {
  background-color: #fff;
  border: 2px solid #0b0c0c;
  border-top: 0;
  color: #34384b;
  cursor: default;
  margin: 0;
  max-height: 342px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
}

.ui-autocomplete .ui-menu-item {
  border-bottom: solid #bfc1c3;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  font-size:19px;
  padding:4px;
  position: relative;
}

@media (max-width: 640px) {
  .ui-autocomplete .ui-menu-item {
      font-size:16px
  }
}

.ui-autocomplete .ui-menu-item > * {
  pointer-events: none;
}

.ui-autocomplete .ui-menu-item:first-of-type {
  border-top-width: 0;
}

.ui-autocomplete .ui-menu-item:last-of-type {
  border-bottom-width: 0;
}

.ui-autocomplete .ui-menu-item:nth-child(odd){
  background-color: #fafafa;
}

.ui-autocomplete .ui-menu-item:hover{
  background-color: #005ea5;
  border-color: #005ea5;
  color: #fff;
  outline: 0;
}

 /*** Dashboard ***/
 #dashboard-table td {
    min-height: 3em;
 }

 #dashboard-table .dashboard-status {
    min-width: 8em;
 }

 #dashboard-table .dashboard-closingdate {
    min-width: 8em;
 }

 #dashboard-table .dashboard-action {
    min-width: 8em;
 }

 .action-links li {
    float: left;
    margin-right: 40px;
 }


 .close-vacancy-info {
    border-color: #005ea5;
    background-color:#eaebf4;
  }

  .tag {
    display: inline-block;
    text-align: center;
    background: #FFFFFF;
    border:3px solid #bfc1c3;
    color: #0b0c0c;
    padding: 0.3em 0.4em 0.2em 0.4em;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
    white-space: nowrap;
  }
  
  .tag-draft {
    border-color: #bfc1c3;
  }
  
  .tag-submitted {
    border-color: #F47738;
  }
  
  .tag-referred {
    border-color: #B10E1E;
    color:#000000;
  }
  
  .tag-approved {
    border-color: #006435;
  }
  
  .tag-live {
    border-color: #006435;
  }
  
  .tag-closed {
    border-color: #0b0c0c;
  }

  .tag-transferred {
    border-color: #005ea5;
  }

/*** Responsive tables ***/
table.responsive thead {
    display: none;
  }
  
  table.responsive tr {
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #bfc1c3;
  }
  
  table.responsive tr td {
    display: block;
    text-align: right;
    clear: left;
    float: left;
    width: 100%;
    padding: 10px 10px 8px;
    box-sizing: border-box;
    border-bottom: 1px dotted #bfc1c3;
  }
  
  table.responsive tr td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    padding-right: 10px;
  }
  
  table.responsive tr td:last-child {
    border-bottom: none;
  }
  
  table.responsive tr td:empty {
    display: none;
  }
  
  table.responsive tr.total {
    border: 2px solid #000;
  }
  
  @media (min-width: 641px) {
    table.responsive thead {
      display: table-header-group;
    }
    table.responsive tr {
      display: table-row;
      border: none;
      float: none;
      margin: 0;
    }
    table.responsive tr th, table.responsive tr td {
      display: table-cell;
      text-align: left;
      float: none;
      clear: none;
      padding: 0.6em 1em 0.5em;
      border-bottom-style: solid;
      width: auto;
    }
    table.responsive tr th:first-child, table.responsive tr td:first-child {
      padding-left: 0;
    }
    table.responsive tr th:last-child, table.responsive tr td:last-child {
      padding-right: 0;
    }
    table.responsive tr th:before, table.responsive tr td:before {
      display: none;
    }
    table.responsive tr th.numeric, table.responsive tr td.numeric {
      text-align: right;
    }
    table.responsive tr th.colgroup, table.responsive tr td.colgroup {
      text-align: center;
    }
    table.responsive tr th:last-child, table.responsive tr td:last-child {
      border-bottom: 1px solid #bfc1c3;
    }
    table.responsive tr.total {
      border: none;
    }
    table.responsive tr.total td {
      border-bottom: none;
    }
    table.responsive tr.total td.total {
      border-bottom: 2px solid #000;
    }
    table.responsive tr.total td:last-child {
      padding-left: 0;
    }
    table.responsive tr th.tw-5 {
      width: 5%;
    }
    table.responsive tr th.tw-10 {
      width: 10%;
    }
    table.responsive tr th.tw-15 {
      width: 15%;
    }
    table.responsive tr th.tw-20 {
      width: 20%;
    }
    table.responsive tr th.tw-25 {
      width: 25%;
    }
    table.responsive tr th.tw-30 {
      width: 30%;
    }
    table.responsive tr th.tw-35 {
      width: 35%;
    }
    table.responsive tr th.tw-40 {
      width: 40%;
    }
    table.responsive tr th.tw-45 {
      width: 45%;
    }
    table.responsive tr th.tw-50 {
      width: 50%;
    }
    table.responsive tr th.tw-55 {
      width: 55%;
    }
    table.responsive tr th.tw-60 {
      width: 60%;
    }
    table.responsive tr th.tw-65 {
      width: 65%;
    }
    table.responsive tr th.tw-70 {
      width: 70%;
    }
  }
  /*** End responsive tables ***/

.das-table--small .govuk-table__cell, .das-table--small .govuk-table__header{
    font-size: 1rem;
    line-height: 1.25;
}

  .employer-agreement-container .notice .icon {
    top:20px;
  }

a[rel="external"]:after {
    background-image: url(../img/external-link.png);
    background-repeat: no-repeat;
}
    
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      a[rel="external"]:after {
        background-image: url(../img/external-link-24x24.png);
        background-size: 12px 400px; }
}
  
a[rel="external"]:after {
    content: "\A0\A0\A0\A0\A0";
    background-position: right 3px; 
}

a[rel="external"]:hover:after {
    background-position: right -385px; 
}
  
@media (min-width: 641px) {
    a[rel="external"]:after {
      content: "\A0\A0\A0\A0";
      background-position: right 6px; }
    a[rel="external"]:hover:after {
      background-position: right -382px; } 
}

.duration-unit-select {
    width: auto;
}

.das-warning-text__icon--top {
    top: 50px;
}

#global-outage-message p {
    max-width: 960px;
    margin: 0 15px;
}
    @media (min-width: 641px) {
      #global-outage-message p {
        margin: 0 30px; } }
    @media (min-width: 1020px) {
      #global-outage-message p {
        margin: 0 auto; } }

  #global-outage-message form {
    max-width: 960px;
    margin: 0 15px; }
    @media (min-width: 641px) {
      #global-outage-message form {
        margin: 0 30px; } }
    @media (min-width: 1020px) {
      #global-outage-message form {
        margin: 0 auto; } }

  #global-outage-message {
    width: 100%;
    background-color: #fdf0c9;
    padding-top: 10px;
    padding-bottom: 10px; }
    #global-outage-message p {
      font-family: "nta", Arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 14px;
      line-height: 1.14286;
      margin-top: 0;
      margin-bottom: 0; }
      @media (min-width: 641px) {
        #global-outage-message p {
          font-size: 16px;
          line-height: 1.25; } }

/*** Pager ***/
.das-pager {
    margin-top: 1em;
    margin-bottom: 1.25em;
    font-size: 18px;
    font-size: 1.125rem;
}

.das-pager-items {
    display: none;
}

@media (min-width: 641px) {
    .das-pager-items {
        display: inline;
        padding: 0;
    }

        .das-pager-items li {
            display: inline;
            margin: 0 5px;
        }

            .das-pager-items li:first-child {
                margin-left: 0;
            }

            .das-pager-items li:last-child {
                margin-right: 0;
            }
}

.das-pager-next,
.das-pager-prev {
    margin-right: 10px;
}

@media (min-width: 641px) {
    .das-pager-next,
    .das-pager-prev {
        margin-right: 0;
    }
}

@media (min-width: 641px) {
    .das-pager-prev {
        margin-right: 10px;
    }
}

@media (min-width: 641px) {
    .das-pager-next {
        margin-left: 10px;
    }
}

@media (min-width: 641px) {
    .das-pager-controls {
        float: right;
    }
}
/*** End of Pager***/
.analytics--header {
  background-color: #CAE7E5;
  padding: 7px 10px 5px;
  margin-bottom: 10px;
}

.analytics--numeric {
  font-size: 50px;
  font-weight: 700;
}

/*** Start of cards ***/

.das-card--row {
    margin-right: -10px;
    margin-left: -10px;
}

    .das-card--row .govuk-grid-column-one-third {
        padding: 0 10px;
        margin-bottom: 20px;
    }

@media (min-width: 48.0525em) {
    .das-card--row {
        display: flex;
    }

        .das-card--row .govuk-grid-column-one-third {
            flex: 1;
        }
}

.das-card {
    background-color: #ffffff;
    border: 1px solid #bfc1c3;
    display: block;
    height: 100%;
    overflow: hidden;
}

    .das-card.das-card--error {
        border-color: #b10e1e;
        border-width: 3px;
    }

    .das-card.das-card--inactive {
        background-color: #f8f8f8;
    }

    .das-card .das-card--content {
        padding: 20px;
    }

    .das-card .das-card--heading {
        margin-bottom: 10px;
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }

        .das-card .das-card--heading a:visited {
            color: #005ea5;
        }

    .das-card .das-card--stat {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }

@media (min-width: 48.0525em) {
    .das-card .das-card--stat {
        display: block;
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

.das-card .das-card--description, .das-card .das-card--hint {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

.das-card .das-card--hint {
    color: #6f777b;
}

.das-card .das-card--tasks li a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

    .das-card .das-card--tasks li a:visited {
        color: #005ea5;
    }

/*** End of cards ***/

/*** search ***/
.search-field {
  position: relative;
}

.search-input-with-button {
  padding-right:50px;
}

.search-field .search-input input {
  padding: 2px 0 0 10px;
  display: block;
  height: 40px;
  border: 2px solid #0b0c0c;
}

.search-field .search-input label {
  display: block;
}

.search-field .search-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 50px;
  overflow: visible;
}

.search-submit button {
  width: 50px;
  height: 40px;
  border: none;
  overflow: hidden;
  text-indent: -5000px;
  color: #fff;
  background-color: #005ea5;
  background-image: url(/img/search-button.png);
  background-repeat: no-repeat;
  background-position: -12.5% 50%;
}

/*** end of search ***/


/* Cookie Banner */


.das-cookie-banner {
  display: none;
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  padding: 15px 0;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  z-index: 2;
  background: #f3f2f1;
  border: none; }
  @media print {
    .das-cookie-banner {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .das-cookie-banner {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25; } }
  @media print {
    .das-cookie-banner {
      font-size: 14pt;
      line-height: 1.2; } }
  @media (min-width: 40.0625em) {
    .das-cookie-banner {
      padding: 20px 0; } }

.das-cookie-banner__header {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
  color: #0b0c0c; }

.das-cookie-banner__message {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #0b0c0c; }
  @media (min-width: 48.0625em) {
    .das-cookie-banner__message {
      margin: 0; } }

.das-cookie-banner__service-name {
  display: inline-block; }

.das-cookie-banner__buttons {
  display: block; }
  .das-cookie-banner__buttons:after {
    content: "";
    display: block;
    clear: both; }
  @media (min-width: 40.0625em) {
    .das-cookie-banner__buttons {
      margin: 0 -10px; } }
  @media (min-width: 48.0625em) {
    .das-cookie-banner__buttons {
      padding-bottom: 10px; } }

.das-cookie-banner__button-wrap {
  margin-top: 10px;
  vertical-align: top;
  float: none;
  width: 100%; }
  @media (min-width: 40.0625em) {
    .das-cookie-banner__button-wrap {
      width: 50%;
      float: left;
      padding: 0 10px;
      box-sizing: border-box; } }

.das-cookie-banner__button {
  margin: 0;
  width: 100%; }
  @media (min-width: 48.0625em) {
    .das-cookie-banner__button {
      vertical-align: baseline; } }

.das-cookie-banner__confirmation {
  position: relative;
  padding: 5px;
  display: none; }

.das-cookie-banner__confirmation-message {
  margin: 0; }

.das-cookie-banner__hide-button {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  outline: 0;
  border: 0;
  background: none;
  text-decoration: underline;
  color: #005ea5;
  padding: 0;
  margin-top: 10px;
  cursor: pointer; }
  @media print {
    .das-cookie-banner__hide-button {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .das-cookie-banner__hide-button {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579; } }
  @media print {
    .das-cookie-banner__hide-button {
      font-size: 14pt;
      line-height: 1.15; } }
  .das-cookie-banner__hide-button:hover {
    color: #005ea5; }
  .das-cookie-banner__hide-button:focus {
    color: #0b0c0c;
    background: #ffbf47;
    outline: 3px solid #ffbf47; }
  @media (min-width: 48.0625em) {
    .das-cookie-banner__hide-button {
      position: absolute;
      right: 5px;
      top: 5px;
      margin: 0; } }

.das-cookie-settings__confirmation {
  display: none; }