/*** Validation Styles ***/
.validation-summary-valid {
    display:none;
}

/*** Overide GDS styles to match DAS ***/
@media(min-width: 641px) {
    #global-header .header-proposition #proposition-name {
        margin-top:5px;
        display: inline-block
    }
}


/*** Utility classes ***/
.button-link {
    display:inline-block;
    padding:10px 15px 5px 10px;
}

/*** Skills ***/
.button-secondary {
    background-color:#BFC1C3;
    color:#0B0C0C !important;
    display:inline-block;
    padding:7px 15px;
    text-decoration:none;
}

/** Further legacy menu styles **/
.header-inner {
  font-size:14px;
  max-width:960px
  }
  
  @media(min-width: 641px) {
  .header-inner {
  margin:0 30px 30px
  }
  }
  
  @media(min-width: 1020px) {
  .header-inner {
  margin:0 auto 50px
  }
  }
  
  .header-inner {
  margin-bottom:0
  }
  
  @media(min-width: 641px) {
  .header-inner {
  font-size:19px
  }
  }
  
  .header-user {
  background:#f8f8f8;
  border-bottom:1px solid #bfc1c3;
  border-top:10px solid #005ea5
  }
  
  .header-user h2 {
  margin:10px 0
  }
  
  nav ul {
  list-style:none;
  margin:0
  }
  
  @media(min-width: 641px) {
  .header-user #user-nav {
  float:right
  }
  
  .header-user h2 {
  float:left
  }
  }
  
  @media(min-width: 641px) {
  #user-nav {
  font-size:16px;
  margin:5px 0
  }
  }
  
  #user-nav>ul {
  margin-left:-15px;
  margin-right:-15px
  }
  
  #user-nav>ul>li {
  float:left
  }
  
  @media(min-width: 641px) {
  #user-nav>ul>li {
  border:none;
  float:left
  }
  }
  
  #user-nav a {
  display:block;
  float:left;
  padding:12px 15px 10px
  }
  
  #user-nav a:focus {
  outline:0
  }
  
  #user-nav>ul>li ul {
  float:left
  }
  
  #user-nav>ul>li>a {
  color:#0b0c0c;
  text-decoration:none
  }
  
  .account-information {
  text-align:right
  }
  
  .header-organisation {
  border-bottom:1px solid #6f777b;
  font-size:14px
  }
  
  .header-organisation ul {
  margin:0 -15px
  }
  
  @media(min-width: 641px) {
  .header-organisation ul li {
  float:left;
  font-size:16px;
  width:50%
  }
  }
  
  @media(min-width: 769px) {
  .header-organisation ul li {
  width:auto
  }
  }
  
  @media(min-width: 1000px) {
  .header-organisation ul li {
  font-size:19px
  }
  }
  
  .header-organisation ul li a {
  display:block;
  padding:12px 15px 10px;
  position:relative
  }
  
  .header-organisation ul li a.selected {
  color:#0b0c0c;
  font-weight:700;
  text-decoration:none
  }
  
  .header-organisation ul li a.selected:after {
  background:#005ea5;
  bottom:-1px;
  content:"";
  display:block;
  left:0;
  position:absolute;
  top:0;
  width:5px;
  z-index:0
  }
  
  @media(min-width: 769px) {
  .header-organisation ul li a.selected:after {
  height:5px;
  left:15px;
  right:15px;
  top:auto;
  width:auto
  }
  }
  
  .header-organisation ul li a:focus {
  outline:0
  }
  
  .js-enabled #user-nav {
  text-align:left
  }
  
  .js-enabled #user-nav li,.js-enabled #user-nav a,.js-enabled #user-nav li ul {
  float:none
  }
  
  @media(min-width: 641px) {
  .js-enabled #user-nav>ul>li {
  float:left
  }
  }
  
  .js-enabled #user-nav.close {
  display:none
  }
  
  @media(min-width: 641px) {
  .js-enabled #user-nav.close {
  display:block
  }
  }
  
  .js-enabled #user-nav>ul>li>a {
  z-index:2
  }
  
  @media(min-width: 641px) {
  .js-enabled #user-nav>ul>li>a {
  border:1px solid #f8f8f8
  }
  }
  
  .js-enabled #user-nav li.has-sub-menu {
  position:relative
  }
  
  .js-enabled #user-nav li.has-sub-menu.open>a {
  background:#f8f8f8;
  border-bottom-color:#f8f8f8;
  border-color:#bfc1c3;
  color:#4c2c92
  }
  
  .js-enabled #user-nav li.has-sub-menu.open>a:before {
  border-left-color:transparent;
  border-top-color:#000;
  border-width:7px 4px
  }
  
  .js-enabled #user-nav li.has-sub-menu>a {
  padding-left:25px;
  position:relative
  }
  
  .js-enabled #user-nav li.has-sub-menu>a:before {
  border-color:transparent;
  border-left-color:#fff;
  border-style:solid;
  border-width:4px 7px;
  content:"";
  display:block;
  height:0;
  left:10px;
  margin-top:-5px;
  position:absolute;
  top:50%;
  width:0
  }
  
  @media(min-width: 641px) {
  .js-enabled #user-nav li.has-sub-menu ul {
  background:#f8f8f8;
  border:1px solid #bfc1c3;
  margin-top:-1px;
  padding:0 10px;
  position:absolute;
  right:0;
  width:200px;
  z-index:1
  }
  
  .js-enabled #user-nav li.has-sub-menu ul li:first-child {
  border-top:none
  }
  }
  
  .js-enabled .header-organisation ul {
  position:relative
  }
  
  .js-enabled .header-organisation ul li {
  float:left
  }
  
  @media(min-width: 641px) {
  .js-enabled .header-organisation ul li {
  width:auto
  }
  }
  
  #floating-menu-holder {
  background:#6f72af;
  width:100%
  }
  
  #floating-menu-holder .fixed-header {
  left:0;
  max-width:100%;
  position:fixed;
  top:0
  }
  
  #floating-menu-holder .width-adjust {
  margin:0 auto;
  max-width:960px
  }
  
  .account-information:after,.header-organisation ul:after {
  clear:both;
  content:"";
  display:block
  }
  
  .floating-menu {
  background:#6f72af;
  clear:both;
  color:#fff;
  margin:0 auto;
  max-width:960px;
  width:100%;
  z-index:1
  }
  
  .floating-menu nav#user-nav {
  clear:both;
  float:left;
  margin:0 0 0 20px
  }
  
  .header-organisation ul li.menu-link.sub-menu-open>a:before {
  border-left-color:transparent;
  border-top-color:#000;
  border-width:7px 4px
  }
  
  .header-organisation ul li.menu-link>a {
  padding-left:25px;
  position:absolute;
  right:0;
  top:0
  }
  
  .header-organisation ul li.menu-link>a:before {
  border-color:transparent;
  border-left-color:#000;
  border-style:solid;
  border-width:4px 7px;
  content:"";
  display:block;
  height:0;
  left:10px;
  margin-top:-5px;
  position:absolute;
  top:50%;
  width:0
  }
  
  .js-enabled .header-organisation ul li a.selected:after {
  height:5px;
  left:15px;
  right:15px;
  top:auto;
  width:auto
  }
  
  .js-enabled .header-organisation ul li.menu-link.sub-menu-open {
  clear:left;
  width:100%
  }
  
  .js-enabled .header-organisation ul li.menu-link.sub-menu-open ul li {
  border-top:1px solid #dee0e2
  }
  
  .js-enabled .header-organisation ul li.menu-link.sub-menu-open ul li a.selected:after {
  height:auto;
  left:0;
  right:auto;
  top:0;
  width:5px
  }
  
  li.menu-link ul {
  display:none
  }
  
  li.menu-link.sub-menu-open ul {
  display:block;
  margin:0
  }
  
  li.menu-link.sub-menu-open ul li {
  display:block;
  float:none
  }
  
  li.menu-link.sub-menu-open ul li a {
  display:block
  }
  
  @media (min-width: 641px) {
  .floating-menu nav#user-nav {
  clear:none;
  float:right;
  margin:0
  }
  }
  
  .floating-menu nav#user-nav li .has-sub-menu a.menu-main {
  border:0;
  color:#fff
  }
  
  .floating-menu nav#user-nav li .open a.menu-main {
  color:#4c2c92
  }
  
  .floating-menu nav#user-nav li a {
  border:0;
  color:#fff
  }
  
  .floating-menu p.floating-head-text {
  float:left;
  font-size:19px;
  font-weight:700;
  margin:10px 0 0 10px
  }
  
  @media (min-width: 641px) {
  .floating-menu p.floating-head-text {
  margin:10px 0
  }
  }
  
  @media(min-width: 641px) {
  .floating-menu nav#user-nav #settings-menu a.sub-menu-item {
  color:#4c2c92!important
  }
  }

/*** Vacancy Styles ***/
.table-summary .section-name h2,  {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
}

.table-summary .section-name h2 a {
  text-decoration: none;
}

.table-summary .section-name h2 a:hover {
  text-decoration: underline;
}

.table-summary .section-name h2 a .section-number{
  text-decoration: none;
}

@media (min-width: 641px) {
  .table-summary .section-name h2 {
    font-size: 24px;
    line-height: 1.25;
  }
}

.status {
  text-transform: uppercase;
  font-size: 14px;
  background-color: black;
  color: white;
  padding: 3px 7px 2px 7px;
}

.status.incomplete {
  background-color: orange;
}

.status.not-started {
  background-color: grey;
}

.status.locked {
  background-color: black;
}

.table-summary .section-status {
  text-align: right;
  font-weight:700;
}

.table-summary .section-status .status {
  display: block;
  padding-top: 5px;
  margin-top: -5px;
  float: right;
}

.actions {
  margin-top: 60px;
  margin-bottom: 15px;
}

.actions a {
  font-weight: bold;
  text-decoration: none;
}

.actions a:hover {
    text-decoration: underline;
}

.actions .action {
  margin-bottom: 20px;
}

/***  Inline form ***/
.form-inline{
    display:inline;
}



/*** Verification summary ***/
.verification-summary {
    border: 4px solid #00823B;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 10px
}

@media (min-width: 641px) {
    .verification-summary {
        border: 5px solid #00823B;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px 15px 15px
    }
}

.verification-summary .error-summary-heading {
    margin-top: 0
}

.verification-summary p {
    margin-bottom: 10px
}

.verification-summary .verification-summary-list {
    padding-left: 0
}

@media (min-width: 641px) {
    .verification-summary .verification-summary-list li {
        margin-bottom: 5px
    }
}

.verification-summary .verification-summary-list a {
    color: #b10e1e;
    font-weight: 700;
    text-decoration: underline
}

.verification-summary .heading-small {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #6F777B;
    font-weight: 400;
}

.preview-empty {
    border-left: 5px solid #FFBF47;
    min-height: 80px;
    padding-left: 15px;
}

.preview-error {
    border-left: 5px solid #b10e1e;
    min-height: 80px;
    padding-left: 15px;
}

/*** Skills ***/
@media(min-width: 769px) {
    .two-column-checkbox-container{
        overflow:hidden;
    }

    .two-column-checkbox {
        display:block;
        width:50%;
        float:left;
    }

    .two-column-checkbox:after{
        content: "";
        clear:both;
        display:block;
    }
}
textarea.form-control {
    opacity: 1;
    background-image: none;
}

input.form-control, textarea.form-control {
    -webkit-appearance: none;
    border-radius: 0;
}

.textarea-expandable {
    transition: all 0.5s ease;
}

.textarea-expandable:focus {
    height: 10em;
}