@model Esfa.Recruit.Employer.Web.ViewModels.ApplicationProcess.IndexViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Model.Title</h1>
        <h1 class="heading-large">Application process</h1>

        <form asp-route="@RouteNames.ApplicationProcess_Index_Post">
            <div class="form-group">
                <input type="submit" value="Continue" class="button" />
            </div>
        </form>
    </div>
</div>