@model Employer.Web.ViewModels.Sections.IndexViewModel

<h1>Create new vacancy</h1>

<h2>@Model.Title</h2>

<p>Complete the sections below</p>

<table class="table-summary">
    <tr>
        <td class="section-name">
            <h2>
                <a asp-controller="EmployerDetails" asp-action="Index">Employer details</a>
            </h2>
        </td>
        <td class="section-status">
            <a asp-controller="EmployerDetails" asp-action="Index" class="font-xsmall">Edit</a>
        </td>
    </tr>
    <tr>
        <td class="section-name">
            <h2>
                <a asp-controller="LocationAndPositions" asp-action="Index">Role location and positions</a>
            </h2>
        </td>
        <td class="section-status">
            <a asp-controller="LocationAndPositions" asp-action="Index" class="font-xsmall">Edit</a>
        </td>
    </tr>
    <tr>
        <td class="section-name">
            <h2>
                <a asp-controller="RoleDescription" asp-action="Index">Role description</a>
            </h2>
        </td>
        <td class="section-status">
            <a asp-controller="RoleDescription" asp-action="Index" class="font-xsmall">Edit</a>
        </td>
    </tr>
    <tr>
        <td class="section-name ">
            <h2>
                <a asp-controller="CandidateProfile" asp-action="Index">Candidate profile</a>
            </h2>
        </td>
        <td class="section-status">
            <a asp-controller="CandidateProfile" asp-action="Index" class="font-xsmall">Edit</a>
        </td>
    </tr>

    <tr>
        <td class="section-name ">
            <h2>
                <a asp-controller="ApprenticeshipDetails" asp-action="Index">Apprenticeship details</a>
            </h2>
        </td>
        <td class="section-status">
            <a asp-controller="ApprenticeshipDetails" asp-action="Index" class="font-xsmall">Edit</a>
        </td>
    </tr>
    <tr>
        <td class="section-name">
            <h2>
                <a asp-controller="TrainingProvider" asp-action="Index">Training provider</a>
            </h2>
        </td>
        <td class="section-status">
            <a asp-controller="TrainingProvider" asp-action="Index" class="font-xsmall">Edit</a>
        </td>
    </tr>
    <tr>
        <td class="section-name ">
            <h2>
                <a asp-controller="WageAndHours" asp-action="Index">Wage and hours</a>
            </h2>
        </td>
        <td class="section-status">
            <a asp-controller="WageAndHours" asp-action="Index" class="font-xsmall">Edit</a>
        </td>
    </tr>
    <tr>
        <td class="section-name ">
            <h2>
                <a asp-controller="ApplicationProcess" asp-action="Index">Application process</a>
            </h2>
        </td>
        <td class="section-status">
            <a asp-controller="ApplicationProcess" asp-action="Index" class="font-xsmall">Edit</a>
        </td>
    </tr>
</table>

<div class="form-group inline">
    <div class="form-group">
        <a href="#" onclick="alert('todo')" class="button-link">Return to dashboard</a>
        <a asp-controller="Preview" asp-action="Index" class="btn btn-primary">Preview and submit</a>
    </div>
</div>  