@model Esfa.Recruit.Employer.Web.ViewModels.Part1.Training.TrainingFirstVacancyViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part1-training-first-vacancy";
    ViewBag.ZenDeskLabel = "recruit-have-you-already-found-apprenticehip-training";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a asp-route="@RouteNames.Title_Get" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />

        <h1 class="govuk-heading-xl">Have you already found apprenticeship training?</h1>
        <p class="govuk-body">If you’re looking to take on apprentices, you’ll need to provide training through a registered provider. If you haven't found training yet, we can help you to find it.</p>
        <form asp-route="@RouteNames.Training_First_Time_Post" novalidate>
            <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="radios">
                    <div class="govuk-radios__item">
                        <input asp-for="HasFoundTraining" id="has_training_yes" class="govuk-radios__input" type="radio" value="true">
                        <label class="govuk-label govuk-radios__label" for="has_training_yes">
                            Yes, I’ve already found training
                        </label>
                    </div>

                    <div class="govuk-radios__item ">
                        <input asp-for="HasFoundTraining" id="has_training_no" class="govuk-radios__input" type="radio" value="false">
                        <label class="govuk-label govuk-radios__label" for="has_training_no">
                            No, help me find training
                        </label>
                    </div>
                </div>
            </fieldset>
            <div class=" govuk-form-grou govuk-!-margin-top-8">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button" />
                <a asp-route="@RouteNames.Vacancies_Get" class="govuk-link das-button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>