@model Esfa.Recruit.Provider.Web.RouteModel.VacancyRouteModel


@section BackLink
{
    <a asp-route="@RouteNames.Dashboard_Get" asp-route-ukprn="@User.GetUkprn()" class="govuk-back-link">Back</a>
}
<div asp-show="@(_serviceParameters.VacancyType is VacancyType.Traineeship)" class="govuk-notification-banner govuk-notification-banner--information" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3>
            The last possible start date for a traineeship is 31 July 2023.
        </h3>
        <p>
            Any new vacancies you create must close on or before 15 July 2023.

        </p>
        <p>
            Read the <a href="https://questions-statements.parliament.uk/written-statements/detail/2022-12-12/hcws434" target="_blank" rel="noreferrer">statement about how traineeships are changing</a>
        </p>
    </div>
</div>
<partial name="_ProviderNoVacanciesContent" model="@Model" />