@using Esfa.Recruit.Qa.Web.Configuration.Routing;
@model DashboardViewModel

<div class="grid-row dashboard-header">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge no-bottom-margin">
            QA vacancies
            <span class="heading-secondary"></span>
        </h1>
    </div>
</div>
<hr>
<table>
    <tbody>
        <tr>
            <th class="bold">Vacancy title</th>
            <th class="bold">Status</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    <a asp-route="@RouteNames.Vacancy_Review_Get" asp-route-vacancyId="@item.VacancyReference">@item.Title</a>
                </td>
                <td>
                    @item.Status
                </td>
            </tr>
        }
    </tbody>
</table>
