@using Esfa.Recruit.Qa.Web.Configuration.Routing;
@model DashboardViewModel

<div class="grid-row dashboard-header">
    <div class="column-full">
        <h1 class="heading-xlarge no-bottom-margin">QA vacancies</h1>
        <hr>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <table>
            <tbody>
                <tr>
                    <th class="bold">Vacancy title</th>
                    <th class="bold">Status</th>
                </tr>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-route="@RouteNames.Vacancy_Review_Get" asp-route-vacancyReference="@item.VacancyReference">@item.Title</a>
                        </td>
                        <td>
                            @item.Status
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>