@model DashboardViewModel

<div class="grid-row dashboard-header">
    <div class="column-full">
        <h1 class="heading-xlarge no-bottom-margin">QA vacancies</h1>
        <hr>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <table>
            <tbody>
                <tr>
                    <th class="bold">Vacancy title</th>
                    <th class="bold">Status</th>
                </tr>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-route="@GetRoute(item)" asp-route-reviewId="@item.ReviewId">@item.Title</a>
                        </td>
                        <td>
                            @item.Status
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@functions{
    public string GetRoute(ReviewDashboardItem item)
    {
        return item.IsReferred ? RouteNames.Vacancy_Review_Referral_Get : RouteNames.Vacancy_Review_Get;
    }
}

