@model Esfa.Recruit.QA.Web.ViewModels.ManageProvider.ProviderUnblockedAcknowledgementViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Restored access to recruitment service
            </h1>
            <div class="govuk-panel__body">
                <p class="govuk-body">
                    <div>@Model.Name</div>
                    <strong class="govuk-!-font-weight-bold">UKPRN: @Model.Ukprn</strong>
                </p>
            </div>
        </div>
        <p class="govuk-body">
            The employer will need to add permissions before the training provider can start to create and manage vacancies.
        </p>
        <a asp-route="@RouteNames.BlockedOrganisations_Get" class="govuk-button">Return to permissions dashboard</a>
    </div>
</div>