@model bool

<details asp-condition="@Model" role="group">
    <summary role="button" aria-controls="disability-confident-explaination" aria-expanded="false">
        <span class="summary">About disability confident</span>
    </summary>

    <div class="panel panel-border-narrow" id="disability-confident-explaination" aria-hidden="true">
        <p>Disabled candidates are generally guaranteed an interview if you meet the minimum requirements for this vacancy. Contact the employer for full details.</p>

        <p>Employers may need to limit the number of interviews offered to both disabled and non-disabled people if they receive high numbers of applications.</p>

        <p>The disability confident scheme supports employers to make the most of the talents disabled people can bring to your workplace.</p>
    </div>
</details>
