<div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important notice
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            National Apprenticeship Week
        </h3>
        <p>National Apprenticeship Week 2025 will run from Monday 10 to Sunday 16 February 2025 – find out how to get involved and download the toolkit at <a class="govuk-notification-banner__link" href="https://naw.appawards.co.uk/" target="_blank" rel="noreferrer">National Apprenticeship Week (opens in new tab)</a></p>
        <p><b>#NAW2025</b></p>
    </div>
</div>