@model ReviewSummaryViewModel

<div class="error-summary no-top-margin review-summary" role="alert" tabindex="-1">

    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        <img src="/img/red-cross.png" class="red-cross-logo" alt="red cross"> Edits needed
    </h2>

    <p>@Model.ReviewerComments</p>
    <ul class="list">
        @foreach (var fieldIndicator in Model.FieldIndicators)
        {
            <li><a asp-fragment="@fieldIndicator.Anchor" class="review-anchor-link">@fieldIndicator.Text</a></li>
        }
    </ul>
</div>
