@model Esfa.Recruit.Employer.Web.ViewModels.Error.ErrorViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        <header class="page-header group">
            <h1 class="heading-xlarge small-bottom-margin">Page error</h1>
        </header>

        <div class="article-container">
            <article role="article" class="group">
                <div class="inner">
                    <p>There is an error with this page. Try refreshing your browser.</p>
                </div>
            </article>
        </div>
    </div>
</div>