@using System.Net
@model Esfa.Recruit.Provider.Web.ViewModels.ApplicationReviews.ShareMultipleApplicationReviewsConfirmationViewModel


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

          <section class="das-highlight">
            <p class="govuk-heading-m">Share Multiple Applications</p>
          </section>

        <div class="govuk-body">
            <p>
                TODO: You have selected @Model.ApplicationReviewsToShare.Count() applications to share!
            </p>
        </div>

    </div>
</div>