@using System.Net
@model Esfa.Recruit.Provider.Web.ViewModels.ApplicationReviews.ShareMultipleApplicationReviewsConfirmationViewModel


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-body">
            <p>
                You have selected @Model.ApplicationReviewsToShare.Count() applications to share!
            </p>
        </div>

    </div>
</div>