@using System.Net
@model Esfa.Recruit.Provider.Web.ViewModels.ApplicationReviews.ShareMultipleApplicationReviewsViewModel

<div class="govuk-grid-row"> 
    <div class="govuk-grid-column-two-thirds">

        TBC: Share Applications

         <h2 class="govuk-heading-l govuk-!-margin-top-9">Vacancy Id
            <span class="govuk-caption-l">Showing applications for @Model.VacancyId</span>
        </h2>
    </div>
</div>