<div class="grid-row">
    <div class="column-two-thirds">
      <p><a asp-route="@RouteNames.Dashboard_Index_Get" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Return to dashboard</a></p>
      <h1 class="govuk-heading-xl">Remove a training provider from the recruitment service</h1>
      <p class="govuk-body">You can remove a training provider and prevent them using the recruitment service. They will no longer be able to recruit on behalf of employers.</p>
      <a asp-route="@RouteNames.FindTrainingProvider_Get" class="govuk-button">Find training provider</a>
    </div>
  </div>