@model Esfa.Recruit.Provider.Web.ViewModels.VacancyView.ClosedVacancyViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-edit-view-vacancy-closed-with-applications";
}

<partial name="@PartialNames.VacancySummaryDisplay" model="Model" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Applications</h2>
        <partial name="@PartialNames.VacancyApplicationsTable" for="Applications" />
    </div>
</div>
<div class="govuk-form-group inline">
    <div class="govuk-form-group govuk-!-margin-top-6">
        <a asp-route="@RouteNames.Vacancies_Get" class="govuk-button">Return to dashboard</a>
    </div>
</div>