@model DisplayVacancyViewModel
@{
    Layout = LayoutNames.LayoutWithoutNavigation;
}

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-edit-view-vacancy-full";
    ViewBag.Title = "View vacancy";
}

@if (Model.IsSentForReview)
{
    <div class="das-notification das-notification--warning">
        <p class="das-notification__body">This vacancy is with <span class="govuk-!-font-weight-bold">@Model.AccountName</span> for review. <br>You can only edit this vacancy if they reject it.</p>
    </div>
}

<h1 class="govuk-heading-xl" id="vacancy-header">
    @Model.Title
    <span class="govuk-caption-xl">@Model.EmployerName</span>
</h1>

<partial name="@PartialNames.NonEditableVacancyDisplay" model="Model" />