@model Esfa.Recruit.Employer.Web.ViewModels.VacancyPreview.ApproveJobAdvertViewModel

@{ ViewBag.Vpv = "/recruitment/employer/approve-job-advert";
ViewBag.Title = "Are you sure you want to submit this job advert?"; }

@section BackLink {
    <a asp-route="@RouteNames.Vacancy_Preview_Get" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />  
        <form asp-route="@RouteNames.ApproveJobAdvert_Post">           
            <div esfa-validation-marker-for="ApproveJobAdvert" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Are you sure you want to submit this job advert?
                        </h1>
                    </legend>
                    <p class="govuk-body">We'll do a final review and post it on 'Find an apprenticeship'.</p> 
                    <span esfa-validation-message-for="ApproveJobAdvert" class="govuk-error-message"></span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="ApproveJobAdvert" class="govuk-radios__input" id="approve-job-advert-yes" type="radio" value="true">
                            <label for="approve-job-advert-yes" class="govuk-label govuk-radios__label">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="ApproveJobAdvert" class="govuk-radios__input" id="approve-job-advert-no" type="radio" value="false">
                            <label for="approve-job-advert-no" class="govuk-label govuk-radios__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <input type="submit" value="Continue" class="govuk-button" />
        </form> 
    </div>
</div>