<div class="grid-row dashboard-header">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge no-bottom-margin">
            QA vacancies
            <span class="heading-secondary"></span>
        </h1>
    </div>
</div>
<hr>
<table>
    <tbody>
        <tr>
            <th class="bold">Vacancy title</th>
            <th class="bold">Status</th>
        </tr>
        <tr>
            <td>
                <a href="qa-vacancy-preview">Software development apprenticeship</a>
            </td>
            <td>
                Submitted
            </td>
        </tr>
        <tr>
            <td>
                <a href="qa-vacancy-edit">Web developer apprentice</a>
            </td>
            <td>
                Edits required
            </td>
        </tr>
        <tr>
            <td>
                <a href="qa-vacancy-preview">Apprentice software developer</a>
            </td>
            <td>
                Submitted
            </td>
        </tr>
    </tbody>
</table>
