@model Esfa.Recruit.Employer.Web.ViewModels.DeleteVacancy.DeleteViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <div asp-validation-summary="All" class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1"></div>

        <h1 class="heading-large">@Model.Title</h1>
        <h1 class="heading-large">Delete vacancy</h1>

        <form asp-route="@RouteNames.DeleteVacancy_Delete_Post">
            <div class="form-group">
                <div class="multiple-choice">
                    <input asp-for="@Model.ConfirmDeletion" type="radio" value="true" id="deleteYes" />
                    <label class="block-label selection-button-radio" for="deleteYes">Yes, delete now</label>
                </div>
                <div class="multiple-choice">
                    <input asp-for="@Model.ConfirmDeletion" type="radio" value="false" id="deleteNo" />
                    <label class="block-label selection-button-radio" for="deleteNo">No, don't delete</label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Continue" class="button"/>
            </div>
        </form>
    </div>
</div> 