@using Microsoft.Extensions.Options
@inject IOptions<ExternalLinksConfiguration> _externalLinks
@{
    ViewBag.ZenDeskLabel = "recruit-recruitment";
}

<div asp-show="ViewBag.ShowReturnToMaLink" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a asp-route="@RouteNames.Dashboard_Account_Home" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Return to home</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create an advert</h1>
        <p class="govuk-body-l">
            Recruit an apprentice by creating an advert to post on
            <a href="@_externalLinks.Value.FindAnApprenticeshipUrl" class="govuk-link" target="_blank">Find an apprenticeship (opens in a new tab or window)</a>.
        </p>
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">Before you create an advert, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                choose appropriate apprenticeship training
            </li>
            <li>
                get some information from your training provider - if you do not have a training provider yet, you can <a href="@_externalLinks.Value.FindProviderUrl" class="govuk-link" target="_blank">find a provider (opens in a new tab or window)</a>
            </li>
        </ul>
        <h2 class="govuk-heading-m">What you’ll need</h2>
        <p class="govuk-body">You’ll need the following:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                the name of the apprenticeship training and training provider
            </li>
            <li>
                the duration of the apprenticeship
            </li>
            <li>
                the amount of hours spent working and training
            </li>
            <li>
                the amount you’d like to pay your apprentice
            </li>
        </ul>
        <div class="govuk-inset-text">It should take no longer than 30 minutes to create your first advert.</div>

        <a asp-route="@RouteNames.CreateVacancyOptions_Get" role="button" class="govuk-button govuk-button--start" esfa-automation="create-vacancy">Start now</a>
    </div>
</div>
