@model Esfa.Recruit.Employer.Web.ViewModels.SelectTrainingProviderViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Model.Title</h1>
        <h1 class="heading-large">Training provider</h1>
        @Html.Partial("_ValidationSummary", new ValidationSummaryViewModel { ModelState = ViewData.ModelState })
        <form asp-route="@RouteNames.TrainingProvider_Select_Post">
            <div class="form-group">
                <label asp-for="Ukprn" class="form-label-bold">Enter the training provider UK Provider Reference Number (UKPRN)</label>
                <span class="form-hint">
                    You will be able to get this from your training provider<br>
                    Your provider must also have a recruit an apprentice account<br>
                    The UKPRN must only be 8 digits (For example, 12345678)
                </span>
                <input asp-for="Ukprn" type="number" maxlength="8" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Select provider" class="button" />
                <a asp-route="@RouteNames.Preview_Index_Get" class="button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>