@{
    ViewBag.Title = "Access denied";
    ViewBag.ShowNav = false;
    ViewBag.Vpv = "/recruitment/employer/page-access-denied";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <header class="page-header group">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Access denied</h1>
        </header>
        <div class="article-container">
            <article role="article" class="group">
                <div class="inner">
                    <p>Your account does not have sufficient privileges</p>
                    <p>If you are experiencing difficulty accessing the area of the site you need, first contact an/the account owner to ensure you have the correct role assigned to your account.</p>
                    <p><a href="/" class="govuk-button">Return to homepage</a></p>
                </div>
            </article>
        </div>
    </div>
</div>