@{
    ViewBag.Title = "Access denied";
    ViewBag.ShowNav = false;
    ViewBag.Vpv = "/recruitment/employer/page-access-denied";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <header class="page-header group">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Access denied</h1>
        </header>
        <div class="article-container">
            <article role="article" class="group">
                <div class="inner">
                    <p>You do not have permission to access this page</p>
                    <p>If you think you should have permission to access this page or want to confirm what permissions you have, contact an account owner.</p>
                    <p><a href="/" class="govuk-button">Go back to homepage</a></p>
                </div>
            </article>
        </div>
    </div>
</div>