@model string
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-application-withdrawn";
}

<div class="govuk-grid-row"> 
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">This application has been withdrawn by the candidate</h1>
        
        <p class="govuk-body govuk-!-margin-top-3">
            <a href="@Model" class="govuk-button">Back to vacancy</a>
        </p>
    </div>
</div>
