@{
    ViewBag.Title = "Blocked employer";
    ViewBag.ShowNav = false;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <header class="page-header group">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You don't have access to this section</h1>
        </header>
        <div class="article-container">
            <article role="article" class="group">
                <div class="inner">
                    <p>Call us on @RecruitViewConstants.HelpdeskPhoneNumber to resolve this issue.</p>
                    <p><a asp-route="@RouteNames.Dashboard_Account_Home" class="govuk-button">Return to homepage</a></p>
                </div>
            </article>
        </div>
    </div>
</div>