@{
    ViewBag.Title = "Blocked employer";
    ViewBag.ShowNav = false;
}
<div id="js-breadcrumbs" class="breadcrumbs">
    <a asp-route="@RouteNames.Dashboard_Account_Home" asp-route-employerAccountId="@ViewBag.EmployerAccountId" class="link-back">Back</a>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <header class="page-header group">
            <h1 class="heading-xlarge small-bottom-margin">You don't have access to this section</h1>
        </header>
        <div class="article-container">
            <article role="article" class="group">
                <div class="inner">
                    <p>Call us on 0800 015 0400 to resolve this issue.</p>
                </div>
            </article>
        </div>
    </div>
</div>