@{
    ViewBag.Title = "Access denied";
    ViewBag.ShowNav = false;
}
<div class="grid-row">
    <div class="column-two-thirds">
        <header class="page-header group">
            <h1 class="heading-xlarge small-bottom-margin">Access denied</h1>
        </header>
        <div class="article-container">
            <article role="article" class="group">
                <div class="inner">
                    <p>Your account does not have sufficient privileges</p>
                    <p>If you are experiencing difficulty accessing the area of the site you need, first contact an/the account owner to ensure you have the correct role assigned to your account.</p>
                    <a href="/signout" class="button">Sign out</a>
                </div>
            </article>
        </div>
    </div>
</div>