@{
    ViewBag.Title = "Error";
    ViewBag.ShowNav = false;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">There's been an error</h1>
        <p class="govuk-body">Sorry, there seems to be an error with this page. Please refresh your browser or <a href="/">return to homepage</a>.</p>
    </div>
</div>