@{
    ViewData["Title"] = "Employer Home";
}

<div class="row">
    <div class="col-md-12">
        <h2>Employer Recruit - Employer Home</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                <li><a asp-controller="Dashboard" asp-action="Index" asp-route-accountId="ABC123">Sachin Patel &commat; AVEDA LIMITED</a></li>
                <li><a asp-controller="Dashboard" asp-action="Index" asp-route-accountId="ABC456">Chris Jensen &commat; NORTHAMPTON TOWN FOOTBALL CLUB LIMITED(THE)</a></li>
                <li><a asp-controller="Dashboard" asp-action="Index" asp-route-accountId="ABC789">Mark Gwilliam &commat; FALAFEL GUYS LIMITED</a></li>
                <li><a asp-controller="Dashboard" asp-action="Index" asp-route-accountId="ABC789">Lee Wadhams &commat; STARBUCKS COFFEE COMPANY (UK) LIMITED</a></li>
            </ul>
        </div>
    </div>
</div>