@model Esfa.Recruit.Employer.Web.ViewModels.ApplicationReviews.ApplicationReviewsUnsuccessfulConfirmationViewModel
@{
    ViewBag.Vpv = "/recruitment/employer/page-application-reviews-to-unsuccessful-confirmation";
    ViewBag.Title = "Make Applications Unsuccessful Confirmation";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        TODO
    </div>
</div>