@{
    ViewBag.Title = "Terms and conditions";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Terms of use
        </h1>
        <p>You must sign out of this service at the end of each session.</p>
        <p>You must not do any of the following when using this service:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>input untruthful or inaccurate information</li>
            <li>upload any files that contain computer viruses or malware</li>
            <li>commit any cybercrime as described by the <a href="http://www.legislation.gov.uk/ukpga/1990/18/contents" target="_blank" rel="external" class="govuk-link">Computer Misue Act 1990</a></li>
            <li>share your sign in details with anybody else</li>
        </ul>
        <p>Your contact details and information associated with your account will be collected and used for the administration of your account.</p>
        <p>We will not:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>use or disclose this information for other purposes (except where we're legally required to do so)</li>
            <li>use your details for any marketing purposes or for any reason unrelated to the use of your account</li>
        </ul>
        <p>We may update these terms of use at any time without notice. You'll agree to any changes if you continue to use this service ​after the terms of use have been updated​.​</p>
    </div>
</div>