@{
    ViewBag.Title = "Terms and conditions";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Terms and conditions
        </h1>
        
    </div>
</div>