/*** Validation Styles ***/
.validation-summary-valid {
    display:none;
}


/*** Utility classes ***/
.button-link {
    display:inline-block;
    padding:10px 15px 5px 0;
  }

/** Further legacy menu styles **/
.header-inner {
  font-size: 14px;
  max-width: 960px;
  
  
}

@media(min-width: 641px) {
  .header-inner {
      margin:0 30px 30px
  }
}

@media(min-width: 1020px) {
  .header-inner {
      margin:0 auto 50px
  }
}

.header-inner {
  margin-bottom:0px;
}

@media(min-width: 641px) {
  .header-inner {
      font-size:19px
  }
}

nav ul {
  list-style: none;
  margin: 0
}

.header-user {
  background: #f8f8f8;
  border-top: 10px solid #005ea5;
  border-bottom: 1px solid #bfc1c3
}

.header-user h2 {
  margin: 10px 0
}

@media(min-width: 641px) {
  .header-user h2 {
      float:left
  }

  .header-user #user-nav {
      float: right
  }
}

@media(min-width: 641px) {
  #user-nav {
      font-size:16px;
      margin: 5px 0
  }
}

#user-nav>ul {
  margin-left: -15px;
  margin-right: -15px
}

#user-nav>ul>li {
  float: left
}

@media(min-width: 641px) {
  #user-nav>ul>li {
      border:none;
      float: left
  }
}

#user-nav>ul>li>a {
  color: #0b0c0c;
  text-decoration: none
}

#user-nav>ul>li ul {
  float: left
}

#user-nav a {
  padding: 12px 15px 10px;
  display: block;
  float: left
}

#user-nav a:focus {
  outline: 0
}

.account-information {
  text-align: right
}

.header-organisation {
  border-bottom: 1px solid #6f777b;
  font-size: 14px
}

.header-organisation ul {
  margin: 0 -15px
}

@media(min-width: 641px) {
  .header-organisation ul li {
      float:left;
      width: 50%;
      font-size: 16px
  }
}

@media(min-width: 769px) {
  .header-organisation ul li {
      width:auto
  }
}

@media(min-width: 1000px) {
  .header-organisation ul li {
      font-size:19px
  }
}

.header-organisation ul li a {
  padding: 12px 15px 10px;
  display: block;
  position: relative
}

.header-organisation ul li a.selected {
  text-decoration: none;
  font-weight: 700;
  color: #0b0c0c
}

.header-organisation ul li a.selected:after {
  background: #005ea5;
  bottom: -1px;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 5px;
  position: absolute;
  z-index: 0
}

@media(min-width: 769px) {
  .header-organisation ul li a.selected:after {
      left:15px;
      right: 15px;
      height: 5px;
      top: auto;
      width: auto
  }
}

.header-organisation ul li a:focus {
  outline: 0
}

.js-enabled #user-nav {
  text-align: left
}

.js-enabled #user-nav li,.js-enabled #user-nav a,.js-enabled #user-nav li ul {
  float: none
}

@media(min-width: 641px) {
  .js-enabled #user-nav>ul>li {
      float:left
  }
}

.js-enabled #user-nav.close {
  display: none
}

@media(min-width: 641px) {
  .js-enabled #user-nav.close {
      display:block
  }
}

.js-enabled #user-nav>ul>li>a {
  z-index: 2
}

@media(min-width: 641px) {
  .js-enabled #user-nav>ul>li>a {
      border:1px solid #f8f8f8
  }
}

.js-enabled #user-nav li.has-sub-menu {
  position: relative
}

.js-enabled #user-nav li.has-sub-menu>a {
  position: relative;
  padding-left: 25px
}

.js-enabled #user-nav li.has-sub-menu>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-width: 4px 7px;
  border-color: transparent;
  border-left-color: #000;
  border-style: solid;
  left: 10px;
  top: 50%;
  margin-top: -5px
}

.js-enabled #user-nav li.has-sub-menu>a:before {
  border-left-color: #fff;
}

.js-enabled #user-nav li.has-sub-menu.open>a {
  background: #f8f8f8;
  border-color: #bfc1c3;
  border-bottom-color: #f8f8f8;
  color: #4c2c92;
}

.js-enabled #user-nav li.has-sub-menu.open>a:before {
  border-width: 7px 4px;
  border-top-color: #000;
  border-left-color: transparent
}

@media(min-width: 641px) {
  .js-enabled #user-nav li.has-sub-menu ul {
      position:absolute;
      background: #f8f8f8;
      width: 200px;
      right: 0;
      z-index: 1;
      border: 1px solid #bfc1c3;
      margin-top: -1px;
      padding: 0 10px
  }

  .js-enabled #user-nav li.has-sub-menu ul li:first-child {
      border-top: none
  }
}

.js-enabled .header-organisation ul {
  position: relative
}

.js-enabled .header-organisation ul li {
  float: left
}

@media(min-width: 641px) {
  .js-enabled .header-organisation ul li {
      width:auto
  }
}

.js-enabled .header-organisation ul li a.selected:after {
  left: 15px;
  right: 15px;
  height: 5px;
  top: auto;
  width: auto
}

.js-enabled .header-organisation ul li.menu-link.sub-menu-open {
  clear: left;
  width: 100%
}

.js-enabled .header-organisation ul li.menu-link.sub-menu-open ul li {
  border-top: 1px solid #dee0e2
}

.js-enabled .header-organisation ul li.menu-link.sub-menu-open ul li a.selected:after {
  left: 0;
  right: auto;
  height: auto;
  width: 5px;
  top: 0
}

li.menu-link ul {
  display: none
}

li.menu-link.sub-menu-open ul {
  display: block;
  margin: 0
}

li.menu-link.sub-menu-open ul li {
  display: block;
  float: none
}

li.menu-link.sub-menu-open ul li a {
  display: block
}

.header-organisation ul li.menu-link>a {
  position: absolute;
  padding-left: 25px;
  right: 0;
  top: 0
}

.header-organisation ul li.menu-link>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-width: 4px 7px;
  border-color: transparent;
  border-left-color: #000;
  border-style: solid;
  left: 10px;
  top: 50%;
  margin-top: -5px
}

.header-organisation ul li.menu-link.sub-menu-open>a:before {
  border-width: 7px 4px;
  border-top-color: #000;
  border-left-color: transparent
}


.account-information:after,.header-organisation ul:after {
    content: "";
    display: block;
    clear: both
}

/*** Floating menu styles ***/

#floating-menu-holder {
  width: 100%;
  background: #6f72af;
}
#floating-menu-holder .fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
}
#floating-menu-holder .width-adjust {
  max-width: 960px;
  margin: 0 auto;
}

.floating-menu {
  clear: both;
  max-width: 960px;
  width: 100%;
  background: #6f72af;
  color: #fff;
  z-index: 1;
  margin: 0 auto;
}

.floating-menu nav#user-nav {
  clear: both;
  float: left;
  margin: 0 0 0 20px;
}

@media (min-width: 641px) {
  .floating-menu nav#user-nav {
    margin: 0;
    clear: none;
    float: right;
  }
}
.floating-menu nav#user-nav li a {
  border: 0;
  color: #fff;
}
.floating-menu nav#user-nav li .has-sub-menu a.menu-main {
  border: 0;
  color: #fff;
}
.floating-menu nav#user-nav li .open a.menu-main {
  color: #4c2c92;
}
.floating-menu p.floating-head-text {
  float: left;
  margin: 10px 0 0 10px;
  font-weight: bold;
  font-size: 19px;
}
@media (min-width: 641px) {
  .floating-menu p.floating-head-text {
    margin: 10px 0 10px 0px;
  }
}


@media(min-width: 641px) {
  .floating-menu nav#user-nav #settings-menu a.sub-menu-item {
      color:#4c2c92!important
  }
}

/*** Vacancy Styles ***/
.table-summary .section-name h2,  {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
}

.table-summary .section-name h2 a {
  text-decoration: none;
}

.table-summary .section-name h2 a:hover {
  text-decoration: underline;
}

.table-summary .section-name h2 a .section-number{
  text-decoration: none;
}

@media (min-width: 641px) {
  .table-summary .section-name h2 {
    font-size: 24px;
    line-height: 1.25;
  }
}

.status {
  text-transform: uppercase;
  font-size: 14px;
  background-color: black;
  color: white;
  padding: 3px 7px 2px 7px;
}

.status.incomplete {
  background-color: orange;
}

.status.not-started {
  background-color: grey;
}

.status.locked {
  background-color: black;
}

.table-summary .section-status {
  text-align: right;
  font-weight:700;
}

.table-summary .section-status .status {
  display: block;
  padding-top: 5px;
  margin-top: -5px;
  float: right;
}

.actions {
  margin-top: 60px;
  margin-bottom: 15px;
}

.actions a {
  font-weight: bold;
  text-decoration: none;
}

.actions a:hover {
    text-decoration: underline;
}

.actions .action {
  margin-bottom: 20px;
}

/***  Inline form ***/
.form-inline{
    display:inline;
}