@{
    ViewBag.Title = "Access denied";
    ViewBag.ShowNav = false;
}
<div class="grid-row">
    <div class="column-two-thirds">
        <header class="page-header group">
                <div>
                    <h1 class="heading-xlarge small-bottom-margin">Access denied</h1>
                </div>
            </header>
        <h1 class="heading-xlarge access-denied"></h1>
        <p class="access-denied">Your account does not have sufficient privileges</p>
    </div>
</div>