@{
    ViewBag.Title = "Access denied";
    ViewBag.ShowNav = false;
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge access-denied">Access denied</h1>
        <p class="access-denied">Your account does not have sufficient privileges</p>
    </div>
</div>