@model Esfa.Recruit.Employer.Web.ViewModels.ConsiderationsViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Model.Title</h1>
        <h1 class="heading-large">Things to consider</h1>
        <div asp-validation-summary="All" class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                Please fix these errors
            </h2>
        </div>
        <form asp-route="@RouteNames.Considerations_Post">
            <div class="form-group">
                <label asp-for="ThingsToConsider" class="form-label-bold">Things to consider (optional)</label>
                <span class="form-hint">For example, if the vacancy will involve working outdoors, or lifting heavy objects</span>
                <textarea asp-for="ThingsToConsider" class="form-control form-control-3-4 textarea-expandable" cols="20" rows="1"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Save and continue" class="button" />
                <a asp-route="@RouteNames.Preview_Index_Get" class="button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>