<div class="grid-row">
    <div class="column-two-thirds">
        <h1>If you do not pay the levy</h1>
        <p>This service is currently for organisations that pay the apprenticeshp levy.</p>
        <h2>Find out more</h2>
        <ul>
            <li>Find out more about <a href="/">employing apprentices</a></li>
            <li>Find out <a href="/">how you can use</a> your apprenticeship account</li>
            <li>Find out about the <a href="/">apprenticeship levy</a></li>
        </ul>
    </div>
</div> 