@inject ManageApprenticeshipsLinkHelper ExternalLinks
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">If you do not pay the apprenticeship levy</h1>
        <p>You are currently not able to create a vacancy within Manage Apprenticeships yourself. You will need to contact your training provider who will be able to do this on your behalf.</p>
        <h2 class="heading-small">Find out how:</h2>
        <ul class="list list-bullet">
            <li><a href="https://www.gov.uk/take-on-an-apprentice" rel="external">to employ an apprentice</a></li>
            <li><a href="https://www.gov.uk/guidance/manage-apprenticeship-funds" rel="external">to use your apprenticeship account</a></li>
            <li><a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work" rel="external">apprenticeship funding works</a></li>
        </ul>
        <a href="@ExternalLinks.MaRoot">Return to Manage apprenticeships</a>
    </div>
</div>  