<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">If you do not pay the levy</h1>
        <p>This service is currently for organisations that pay the apprenticeshp levy.</p>
        <h2 class="heading-small">Find out more</h2>
        <ul class="list list-bullet">
            <li>Find out more about <a href="#" rel="external">employing apprentices</a></li>
            <li>Find out <a href="#" rel="external">how you can use</a> your apprenticeship account</li>
            <li>Find out about the <a href="#" rel="external">apprenticeship levy</a></li>
        </ul>
    </div>
</div>  