<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="internal-nlog.txt"
      throwExceptions="false">

  <extensions>
    <add assembly="SFA.DAS.NLog.Targets.Redis"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <target xsi:type="Redis" name="redis" environmentKeyName="Environment" connectionStringName="LoggingRedisConnectionString" appName="das-employer-recruit-web" includeAllProperties="true" layout="${message}">
      <field name="requestId" layout="${aspnet-traceidentifier}"/>
      <field name="user" layout="${aspnet-user-identity}"/>
      <field name="loggerName" layout="${logger}"/>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="redis" />
  </rules>
</nlog>