@{
    ViewBag.Title = "Access denied";
    ViewBag.ShowNav = false;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You do not have permission to access this page</h1>
        <p class="govuk-body">If you think you should have permission to access this page or want to confirm what permissions you have, contact an account owner.</p>
        <p><a asp-route="@RouteNames.Dashboard_Account_Home" class="govuk-link">Go back to homepage</a></p>
    </div>
</div>