@model Esfa.Recruit.Provider.Web.ViewModels.Error.Error403ViewModel
@{
    ViewBag.Title = Model.UseDfESignIn ? "Different service role needed - Apprenticeships" : "You do not have permission to access this page";
    ViewBag.HideDefaultTitle = true;
    ViewBag.ShowNav = false;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.UseDfESignIn)
        {
            <div class="hgroup">
                <h1 class="govuk-heading-xl">
                    You need a different service role to view this page
                </h1>
            </div>
            <div class="inner">
                <p>
                    To continue, you'll need to get your role for this service changed.
                </p>
                <p>
                    You can ask for a higher role by <a href="@Model.HelpPageLink" target="_blank" rel="noopener noreferrer">requesting access to a service in your DfE Sign-in account</a>. Select Apprenticeship service for training providers, and then request a higher role at the next step.
                </p>
                <p>
                    The DfE Sign-in approver inside your organisation will need to approve your request.
                </p>
                <p>
                    If you came here by mistake, go back to the <a asp-route="@RouteNames.Dashboard_Account_Home" class="govuk-link govuk-link--no-visited-state">homepage of this service.</a>
                </p>
            </div>
        }
        else
        {
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You do not have permission to access this page</h1>
            <p class="govuk-body">If you think you should have permission to access this page or want to confirm what permissions you have, contact an IdAMS super user.</p>
            <p><a asp-route="@RouteNames.Dashboard_Account_Home" class="govuk-link govuk-link--no-visited-state">Go back to homepage</a></p>
        }
    </div>
</div>
