@{
    ViewBag.Title = "Access denied";
    ViewBag.ShowNav = false;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">This section is still in development. 
            <a href="mailto:@RecruitViewConstants.VacancyServicesRAA" class="govuk-link">Email us</a>
            if you would like to take part in testing it.</h1>
     </div>
</div>