@model MissingPermissionsViewModel
@{
    ViewBag.Title = "You don't have permission to create vacancies";
    ViewBag.ShowNav = false;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You don't have permission to create vacancies.</h1>
        <p class="govuk-body">An employer may be able to give you permission by logging on to their apprenticeship account and selecting ‘Training provider permissions’ on their dashboard.</p>
        <p><a asp-route="@RouteNames.Dashboard_Account_Home" class="govuk-button">Go back to the service homepage</a></p>
    </div>
</div>