@{
    ViewBag.Title = "Page not found";
    ViewBag.ShowNav = false;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Page not found</h1>
        <p class="govuk-body">Please check that you entered the correct web address. Alternatively, <a href="/"  class="govuk-link">return to the homepage</a></p>
    </div>
</div>