@{
    ViewBag.Title = "Access denied";
    ViewBag.ShowNav = false;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">You don’t have access to this section</h1>
        <p class="govuk-body">
            <a href="mailto:@RecruitViewConstants.VacancyServicesRAAEmailAddress" class="govuk-link">Email us</a>
            This section is currently only available to providers taking part in our beta testing. 
            If you would like to become one of our beta testers contact us at <a href="mailto:@RecruitViewConstants.VacancyServicesRAAEmailAddress" class="govuk-link"></a>
        </p>
    </div>
</div>