<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
            Manage apprenticeships service help
        </h1>
        <p>Contact the <strong>Manage apprenticeships</strong> service helpdesk on:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>08000 150 600</li>
            <li><a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
        </ul>
    </div>
</div>