
@model Esfa.Recruit.Employer.Web.RouteModel.VacancyRouteModel

@{  
    ViewBag.Vpv = "/recruitment/employer/start-create-advert";
    ViewBag.ZenDeskLabel = "recruit-recruitment";
    ViewBag.Title = "Your apprenticeship adverts"; }


@section BackLink
{
    <a asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-back-link">Back</a>
}

<partial name="_NoVacanciesContent" model="@Model" />